In [1]:
import pandas as pd
from iso639 import Lang

In [14]:
df = pd.read_csv('data/GrammaticalGender.csv')
df = df.sort_values(by='Language').reset_index(drop=True)

df.insert(0, 'Code', None)
for index, row in df.iterrows():
    if row['Code'] is None:  
        try:
            temp = Lang(row['Language']).pt3
            df.loc[df['Language'] == row['Language'], 'Code'] = temp
        except:
            continue  # Skip to the next iteration if there's an error
df

     Code  Language
0     aar      Afar
1    None      Agaw
2     akk  Akkadian
3     amp  Alamblak
4     sqi  Albanian
..    ...       ...
99    cym     Welsh
100   wro  Worrorra
101   yid   Yiddish
102  None     Zande
103   zza    Zazaki

[104 rows x 2 columns]

In [15]:
none_list = df[df['Code'].isnull()]['Language'].tolist()
print(len(none_list), none_list)

22 ['Agaw', 'Aramaic', 'Bantu', 'Friulan', 'Gaulish', 'Greek', 'Halegannada', 'Kalaw', 'Low', 'Occitan', 'Pama–Nyungan', 'Pennsylvania', 'Romani', 'Rwanda', 'Scottish', 'Sepik', 'Slovene', 'Sorbian', 'South', 'Tamazight', 'Tuareg', 'Zande']

In [16]:
none_list

['Agaw',
 'Aramaic',
 'Bantu',
 'Friulan',
 'Gaulish',
 'Greek',
 'Halegannada',
 'Kalaw',
 'Low',
 'Occitan',
 'Pama–Nyungan',
 'Pennsylvania',
 'Romani',
 'Rwanda',
 'Scottish',
 'Sepik',
 'Slovene',
 'Sorbian',
 'South',
 'Tamazight',
 'Tuareg',
 'Zande']

In [12]:
language_codes = {
    'Abkhaz': 'abk',
    'Acehnese': 'ace',
    'Acholi': 'ach',
    'Avar': 'ava',
    'Buryat': 'bxm',
    'Cantonese': 'yue',
    'Frisian': 'frr',
    'Fulani': 'ful',
    'Greek': 'ell',
    'Ilocano': 'ilo',
    'Jamaican Patois': 'jam',
    'Jingpo': 'kac',
    'Kiga': 'cgg',
    'Kikongo': 'kwy',
    'Kituba': 'ktu',
    'Kokborok': 'trp',
    'Luganda': 'lug',
    'Luo': 'luo',
    'Makassar': 'mak',
    'Marwadi': 'rwr',
    'Mauritian Creole': 'mfe',
    'Meadow Mari': 'mhr',
    'Meiteilon': 'mni',
    'Mizo': 'lus',
    'Myanmar': 'mya',
    'NKo': 'nqo',
    'Nahuatl': 'nhe',
    'Ndebele': 'nde',
    'Nepalbhasa': 'new',
    'Occitan': 'oci',
    'Qʼeqchiʼ': 'kek',
    'Romani': 'rom',
    'Sami': 'sme',
    'Scots Gaelic': 'gla',
    'Sesotho': 'sot',
    'Seychellois Creole': 'crs',
    'Tamazight': 'tzm',
    'Tongan': 'ton',
    'Tuvan': 'tyv'
}


df['Code'] = df['Code'].fillna(df['Language'].map(language_codes))
df

Code           None
Language     Slovak
Name: 106, dtype: object