In [1]:
import pandas as pd
import numpy as np
import re
from iso639 import Lang

In [2]:
google_translate = pd.read_csv('data/google_translate.csv', index_col='No')
deepl = pd.read_csv('data/DeepL.csv', index_col='No')
gpt = pd.read_csv('data/gpt.csv', index_col='No')
gemini = pd.read_csv('data/gemini.csv', index_col='No')
copilot = pd.read_csv('data/copilot.csv', index_col='No')

gender = pd.read_csv('data/GrammaticalGender.csv')
gender = gender.sort_values(by='Language')

In [3]:
def clean_language_name(name):
    return re.sub(r'\s*\(.*?\)', '', name).strip()


google_translate['Languages'] = google_translate['Languages'].apply(clean_language_name)
deepl['Language'] = deepl['Language'].apply(clean_language_name)
gpt['Language'] = gpt['Language'].apply(clean_language_name)
gemini['Language'] = gemini['Language'].apply(clean_language_name)
copilot['Language'] = copilot['Language'].apply(clean_language_name)

In [4]:
languages = np.array(list(set(set(google_translate.Languages) | set(deepl.Language) | set(gpt.Language) | set(gemini.Language) | set(copilot.Language))))
No = np.array([i+1 for i in range(len(languages))])

languages.sort()

df = {'Language': languages}
df = pd.DataFrame(df)


df['GoogleTranslate'] = df['Language'].isin(google_translate['Languages']).astype(int)
df['DeepL'] = df['Language'].isin(deepl['Language']).astype(int)
df['GPT'] = df['Language'].isin(gpt['Language']).astype(int)
df['Gemini'] = df['Language'].isin(gemini['Language']).astype(int)
df['Copilot'] = df['Language'].isin(copilot['Language']).astype(int)

df['GrammaticalGender'] = df['Language'].isin(gender['Language']).astype(int)


df = df.sort_values(by='Language')
df

,Language,GoogleTranslate,DeepL,GPT,Gemini,Copilot,GrammaticalGender
0,Abkhaz,1,0,0,0,0,0
1,Acehnese,1,0,0,0,0,0
2,Acholi,1,0,0,0,0,0
3,Afar,1,0,0,0,0,1
4,Afrikaans,1,0,1,1,0,0
...,...,...,...,...,...,...,...
233,Yiddish,1,0,1,0,0,1
234,Yoruba,1,0,1,1,0,0
235,Yucatec Maya,1,0,0,0,0,0
236,Zapotec,1,0,0,0,0,0
237,Zulu,1,0,1,1,0,0

In [5]:
df[df['GrammaticalGender'] == 1]

,Language,GoogleTranslate,DeepL,GPT,Gemini,Copilot,GrammaticalGender
3,Afar,1,0,0,0,0,1
5,Albanian,1,0,1,1,0,1
7,Amharic,1,0,1,0,0,1
8,Arabic,1,1,1,1,1,1
24,Belarusian,1,0,1,1,0,1
...,...,...,...,...,...,...,...
221,Ukrainian,1,1,1,1,1,1
222,Urdu,1,0,1,1,0,1
226,Venetian,1,0,0,0,0,1
229,Welsh,1,0,1,1,1,1
233,Yiddish,1,0,1,0,0,1

In [6]:
df.insert(0, 'Code', None)

for index, row in df.iterrows():
    if row['Code'] is None:  
        try:
            temp = Lang(row['Language']).pt3
            df.loc[df['Language'] == row['Language'], 'Code'] = temp
        except:
            continue  # Skip to the next iteration if there's an error
df

,Code,Language,GoogleTranslate,DeepL,GPT,Gemini,Copilot,GrammaticalGender
0,None,Abkhaz,1,0,0,0,0,0
1,None,Acehnese,1,0,0,0,0,0
2,None,Acholi,1,0,0,0,0,0
3,aar,Afar,1,0,0,0,0,1
4,afr,Afrikaans,1,0,1,1,0,0
...,...,...,...,...,...,...,...,...
233,yid,Yiddish,1,0,1,0,0,1
234,yor,Yoruba,1,0,1,1,0,0
235,yua,Yucatec Maya,1,0,0,0,0,0
236,zap,Zapotec,1,0,0,0,0,0
237,zul,Zulu,1,0,1,1,0,0

In [7]:
none_list = df[df['Code'].isnull()]['Language'].tolist()
print(len(none_list), none_list)

39 ['Abkhaz', 'Acehnese', 'Acholi', 'Avar', 'Buryat', 'Cantonese', 'Frisian', 'Fulani', 'Greek', 'Ilocano', 'Jamaican Patois', 'Jingpo', 'Kiga', 'Kikongo', 'Kituba', 'Kokborok', 'Luganda', 'Luo', 'Makassar', 'Marwadi', 'Mauritian Creole', 'Meadow Mari', 'Meiteilon', 'Mizo', 'Myanmar', 'NKo', 'Nahuatl', 'Ndebele', 'Nepalbhasa', 'Occitan', 'Qʼeqchiʼ', 'Romani', 'Sami', 'Scots Gaelic', 'Sesotho', 'Seychellois Creole', 'Tamazight', 'Tongan', 'Tuvan']

In [8]:
language_codes = {
    'Abkhaz': 'abk',
    'Acehnese': 'ace',
    'Acholi': 'ach',
    'Avar': 'ava',
    'Buryat': 'bxm',
    'Cantonese': 'yue',
    'Frisian': 'frr',
    'Fulani': 'ful',
    'Greek': 'ell',
    'Ilocano': 'ilo',
    'Jamaican Patois': 'jam',
    'Jingpo': 'kac',
    'Kiga': 'cgg',
    'Kikongo': 'kwy',
    'Kituba': 'ktu',
    'Kokborok': 'trp',
    'Luganda': 'lug',
    'Luo': 'luo',
    'Makassar': 'mak',
    'Marwadi': 'rwr',
    'Mauritian Creole': 'mfe',
    'Meadow Mari': 'mhr',
    'Meiteilon': 'mni',
    'Mizo': 'lus',
    'Myanmar': 'mya',
    'NKo': 'nqo',
    'Nahuatl': 'nhe',
    'Ndebele': 'nde',
    'Nepalbhasa': 'new',
    'Occitan': 'oci',
    'Qʼeqchiʼ': 'kek',
    'Romani': 'rom',
    'Sami': 'sme',
    'Scots Gaelic': 'gla',
    'Sesotho': 'sot',
    'Seychellois Creole': 'crs',
    'Tamazight': 'tzm',
    'Tongan': 'ton',
    'Tuvan': 'tyv'
}


df['Code'] = df['Code'].fillna(df['Language'].map(language_codes))
df

,Code,Language,GoogleTranslate,DeepL,GPT,Gemini,Copilot,GrammaticalGender
0,abk,Abkhaz,1,0,0,0,0,0
1,ace,Acehnese,1,0,0,0,0,0
2,ach,Acholi,1,0,0,0,0,0
3,aar,Afar,1,0,0,0,0,1
4,afr,Afrikaans,1,0,1,1,0,0
...,...,...,...,...,...,...,...,...
233,yid,Yiddish,1,0,1,0,0,1
234,yor,Yoruba,1,0,1,1,0,0
235,yua,Yucatec Maya,1,0,0,0,0,0
236,zap,Zapotec,1,0,0,0,0,0
237,zul,Zulu,1,0,1,1,0,0

In [9]:
none_list = df[df['Code'].isnull()]['Language'].tolist()
print(len(none_list), none_list)

0 []

### Code-Language-Family

In [10]:
#https://github.com/dw-data/ai-languages/blob/main/README.md
df2 = pd.read_excel('data/Data.xlsx', sheet_name="Ethnologue", header=2)
df2.sample(10)

,users,DLS,family-link,family-link-href,languagecode,languagelink-href,vitality,languagecountry,languagename,lat,long
5691,10K to 1M,Still,Austronesian,https://www.ethnologue.com/subgroup/447/,smw,https://www.ethnologue.com/language/smw/,Stable,Indonesia,Sumbawa,-8.7558,117.3432
639,1M to 1B,Still,Indo-European,https://www.ethnologue.com/subgroup/3/,bfz,https://www.ethnologue.com/language/bfz/,Stable,India,"Pahari, Mahasu",31.2307,77.5961
1892,NaN,Still,Austronesian,https://www.ethnologue.com/subgroup/447/,fos,https://www.ethnologue.com/language/fos/,Endangered,China—Taiwan,Siraya,23.0013,120.3634
3503,NaN,Still,Nambikwara,https://www.ethnologue.com/subgroup/416/,lkd,https://www.ethnologue.com/language/lkd/,Endangered,Brazil,Lakondê,-13.1438,-60.3481
5548,Less than 10K,Still,Sign language,https://www.ethnologue.com/subgroup/2/,sgg,https://www.ethnologue.com/language/sgg/,Stable,Switzerland,Swiss-German Sign Language,47.1291,8.7711
7347,Less than 10K,NaN,Afro-Asiatic,https://www.ethnologue.com/subgroup/31/,zbu,https://www.ethnologue.com/language/zbu/,Stable,Nigeria,Bu,10.0630,9.0680
3086,Less than 10K,Still,Trans-New Guinea,https://www.ethnologue.com/subgroup/1038/,koz,https://www.ethnologue.com/language/koz/,Endangered,Papua New Guinea,Amako,-4.5542,145.4770
4655,Less than 10K,Emerging,Niger-Congo,https://www.ethnologue.com/subgroup/47/,nsh,https://www.ethnologue.com/language/nsh/,Endangered,Cameroon,Ngoshie,6.1193,9.8759
673,10K to 1M,Still,Sino-Tibetan,https://www.ethnologue.com/subgroup/236/,bhj,https://www.ethnologue.com/language/bhj/,Stable,Nepal,Bahing,27.3503,86.5325
5086,10K to 1M,NaN,Niger-Congo,https://www.ethnologue.com/subgroup/47/,pnd,https://www.ethnologue.com/language/pnd/,Endangered,Angola,Mpinda,-10.7608,13.7237

In [11]:
langs = df2[['languagecode', 'languagename', 'family-link']].copy()
langs.rename(columns={'languagecode': 'Code', 
                      'languagename': 'Language', 
                      'family-link': 'Family'}, inplace=True)
langs.to_csv('data/languages.csv', index=False)
langs.sample(10)

     Code    Language                Family
5764  sqm        Suma           Niger-Congo
4212  mwa     Mwatebu          Austronesian
1848  fam         Fam           Niger-Congo
6911  xet        Xetá                Tupian
385   atd  Ata Manobo          Austronesian
5915  szc  Semaq Beri        Austro-Asiatic
5595  sii   Shom Peng        Austro-Asiatic
3835  mgf      Maklew  South-Central Papuan
1249  ckh        Chak          Sino-Tibetan
2729  jyy        Jaya          Nilo-Saharan

In [12]:
df = df.merge(langs[['Code', 'Family']], on='Code', how='left')
df

,Code,Language,GoogleTranslate,DeepL,GPT,Gemini,Copilot,GrammaticalGender,Family
0,abk,Abkhaz,1,0,0,0,0,0,Abkhaz-Adyghe
1,ace,Acehnese,1,0,0,0,0,0,Austronesian
2,ach,Acholi,1,0,0,0,0,0,Nilo-Saharan
3,aar,Afar,1,0,0,0,0,1,Afro-Asiatic
4,afr,Afrikaans,1,0,1,1,0,0,Indo-European
...,...,...,...,...,...,...,...,...,...
233,yid,Yiddish,1,0,1,0,0,1,NaN
234,yor,Yoruba,1,0,1,1,0,0,Niger-Congo
235,yua,Yucatec Maya,1,0,0,0,0,0,Mayan
236,zap,Zapotec,1,0,0,0,0,0,NaN
237,zul,Zulu,1,0,1,1,0,0,Niger-Congo

In [13]:
none_list = df[df['Family'].isna()]['Code'].tolist()
print(len(none_list), none_list)

36 ['sqi', 'ara', 'aym', 'aze', 'bal', 'bik', 'zho', 'din', 'doi', 'est', 'ful', 'grn', 'hmn', 'kau', 'kaz', 'kom', 'kok', 'kur', 'kir', 'lav', 'mlg', 'msa', 'mon', 'nep', 'orm', 'pus', 'fas', 'que', 'rom', 'swa', 'tyv', 'twi', 'uzb', 'sah', 'yid', 'zap']

In [14]:
language_families = {
    'sqi': 'Indo-European',
    'ara': 'Afro-Asiatic',
    'aym': 'Aymaran',
    'aze': 'Turkic',
    'bal': 'Indo-European',
    'bik': 'Austronesian',
    'zho': 'Sino-Tibetan',
    'din': 'Nilo-Saharan',
    'doi': 'Indo-European',
    'est': 'Uralic',
    'ful': 'Niger-Congo',
    'grn': 'Tupian',
    'hmn': 'Hmong-Mien',
    'kau': 'Nilo-Saharan',
    'kaz': 'Turkic',
    'kom': 'Uralic',
    'kok': 'Indo-European',
    'kur': 'Indo-European',
    'kir': 'Turkic',
    'lav': 'Indo-European',
    'mlg': 'Austronesian',
    'msa': 'Austronesian',
    'mon': 'Mongolic',
    'nep': 'Indo-European',
    'orm': 'Afro-Asiatic',
    'pus': 'Indo-European',
    'fas': 'Indo-Iranian',
    'que': 'Quechuan',
    'rom': 'Indo-European',
    'swa': 'Niger-Congo',
    'tyv': 'Turkic',
    'twi': 'Kwa',
    'uzb': 'Turkic',
    'sah': 'Turkic',
    'yid': 'Indo-European',
    'zap': 'Otomanguean'
}


df['Family'] = df['Family'].fillna(df['Code'].map(language_families))
df

,Code,Language,GoogleTranslate,DeepL,GPT,Gemini,Copilot,GrammaticalGender,Family
0,abk,Abkhaz,1,0,0,0,0,0,Abkhaz-Adyghe
1,ace,Acehnese,1,0,0,0,0,0,Austronesian
2,ach,Acholi,1,0,0,0,0,0,Nilo-Saharan
3,aar,Afar,1,0,0,0,0,1,Afro-Asiatic
4,afr,Afrikaans,1,0,1,1,0,0,Indo-European
...,...,...,...,...,...,...,...,...,...
233,yid,Yiddish,1,0,1,0,0,1,Indo-European
234,yor,Yoruba,1,0,1,1,0,0,Niger-Congo
235,yua,Yucatec Maya,1,0,0,0,0,0,Mayan
236,zap,Zapotec,1,0,0,0,0,0,Otomanguean
237,zul,Zulu,1,0,1,1,0,0,Niger-Congo

In [15]:
none_list = df[df['Family'].isna()]['Code'].tolist()
print(len(none_list), none_list)

0 []

In [16]:
gender_df = df[df['GrammaticalGender'] == 1]
gender_df

,Code,Language,GoogleTranslate,DeepL,GPT,Gemini,Copilot,GrammaticalGender,Family
3,aar,Afar,1,0,0,0,0,1,Afro-Asiatic
5,sqi,Albanian,1,0,1,1,0,1,Indo-European
7,amh,Amharic,1,0,1,0,0,1,Afro-Asiatic
8,ara,Arabic,1,1,1,1,1,1,Afro-Asiatic
24,bel,Belarusian,1,0,1,1,0,1,Indo-European
...,...,...,...,...,...,...,...,...,...
221,ukr,Ukrainian,1,1,1,1,1,1,Indo-European
222,urd,Urdu,1,0,1,1,0,1,Indo-European
226,vec,Venetian,1,0,0,0,0,1,Indo-European
229,cym,Welsh,1,0,1,1,1,1,Indo-European
233,yid,Yiddish,1,0,1,0,0,1,Indo-European

In [17]:
df.to_csv('data/result.csv', index=False)
gender_df.to_csv('data/result_gender.csv', index=False)