In [15]:
import pandas as pd

In [16]:
df = pd.read_csv('../output_data/v2_UN_countries.csv')
df.head()

                   name   demonym
0           Afghanistan    Afghan
1                Angola   Angolan
2               Albania  Albanian
3               Andorra  Andorran
4  United Arab Emirates   Emirati

In [17]:
df['demonym'] = df['demonym'].apply(lambda x: x.split(',')[0])
df['sentence'] = df['demonym'].apply(lambda x: {'m': None, 'f': None, 'n': "I am " + x + '.'})
df.head()

,name,demonym,sentence
0,Afghanistan,Afghan,"{'m': None, 'f': None, 'n': 'I am Afghan.'}"
1,Angola,Angolan,"{'m': None, 'f': None, 'n': 'I am Angolan.'}"
2,Albania,Albanian,"{'m': None, 'f': None, 'n': 'I am Albanian.'}"
3,Andorra,Andorran,"{'m': None, 'f': None, 'n': 'I am Andorran.'}"
4,United Arab Emirates,Emirati,"{'m': None, 'f': None, 'n': 'I am Emirati.'}"

In [18]:
df.to_csv('output/eng.csv', index=False)

In [19]:
fra = pd.read_csv('../output_data/France.csv')
fra['fra_m'] = fra['fra_m'].apply(lambda x: x.split(' et ')[0])
fra['fra_f'] = fra['fra_f'].apply(lambda x: x.split(' et ')[0])
fra.head()

                   name   demonym     fra_m      fra_f
0           Afghanistan    Afghan    Afghan    Afghane
1                Angola   Angolan  Angolais  Angolaise
2               Albania  Albanian  Albanais  Albanaise
3               Andorra  Andorran  Andorran  Andorrane
4  United Arab Emirates   Emirati   Emirien  Emirienne

In [20]:
fra['fra_sent'] = fra.apply(lambda row: {'m': 'Je suis ' + row['fra_m'] + '.', 'f': 'Je suis ' + row['fra_f'] + '.', 'n': None}, axis=1)
fra

,name,demonym,fra_m,fra_f,fra_sent
0,Afghanistan,Afghan,Afghan,Afghane,"{'m': 'Je suis Afghan.', 'f': 'Je suis Afghane..."
1,Angola,Angolan,Angolais,Angolaise,"{'m': 'Je suis Angolais.', 'f': 'Je suis Angol..."
2,Albania,Albanian,Albanais,Albanaise,"{'m': 'Je suis Albanais.', 'f': 'Je suis Alban..."
3,Andorra,Andorran,Andorran,Andorrane,"{'m': 'Je suis Andorran.', 'f': 'Je suis Andor..."
4,United Arab Emirates,Emirati,Emirien,Emirienne,"{'m': 'Je suis Emirien.', 'f': 'Je suis Emirie..."
...,...,...,...,...,...
188,Samoa,Samoan,Samoan,Samoane,"{'m': 'Je suis Samoan.', 'f': 'Je suis Samoane..."
189,Yemen,Yemeni,Yéménite,Yéménite,"{'m': 'Je suis Yéménite.', 'f': 'Je suis Yémén..."
190,South Africa,South African,Sud-africain,Sud-africaine,"{'m': 'Je suis Sud-africain.', 'f': 'Je suis S..."
191,Zambia,Zambian,Zambien,Zambienne,"{'m': 'Je suis Zambien.', 'f': 'Je suis Zambie..."
192,Zimbabwe,Zimbabwean,Zimbabwéen,Zimbabwéenne,"{'m': 'Je suis Zimbabwéen.', 'f': 'Je suis Zim..."

In [30]:
data = fra[['name', 'fra_sent']]
data

                     name                                           fra_sent
0             Afghanistan  {'m': 'Je suis Afghan.', 'f': 'Je suis Afghane...
1                  Angola  {'m': 'Je suis Angolais.', 'f': 'Je suis Angol...
2                 Albania  {'m': 'Je suis Albanais.', 'f': 'Je suis Alban...
3                 Andorra  {'m': 'Je suis Andorran.', 'f': 'Je suis Andor...
4    United Arab Emirates  {'m': 'Je suis Emirien.', 'f': 'Je suis Emirie...
..                    ...                                                ...
188                 Samoa  {'m': 'Je suis Samoan.', 'f': 'Je suis Samoane...
189                 Yemen  {'m': 'Je suis Yéménite.', 'f': 'Je suis Yémén...
190          South Africa  {'m': 'Je suis Sud-africain.', 'f': 'Je suis S...
191                Zambia  {'m': 'Je suis Zambien.', 'f': 'Je suis Zambie...
192              Zimbabwe  {'m': 'Je suis Zimbabwéen.', 'f': 'Je suis Zim...

[193 rows x 2 columns]

In [31]:
data = data.merge(df, on='name', how='inner')
data

,name,fra_sent,demonym,sentence
0,Afghanistan,"{'m': 'Je suis Afghan.', 'f': 'Je suis Afghane...",Afghan,"{'m': None, 'f': None, 'n': 'I am Afghan.'}"
1,Angola,"{'m': 'Je suis Angolais.', 'f': 'Je suis Angol...",Angolan,"{'m': None, 'f': None, 'n': 'I am Angolan.'}"
2,Albania,"{'m': 'Je suis Albanais.', 'f': 'Je suis Alban...",Albanian,"{'m': None, 'f': None, 'n': 'I am Albanian.'}"
3,Andorra,"{'m': 'Je suis Andorran.', 'f': 'Je suis Andor...",Andorran,"{'m': None, 'f': None, 'n': 'I am Andorran.'}"
4,United Arab Emirates,"{'m': 'Je suis Emirien.', 'f': 'Je suis Emirie...",Emirati,"{'m': None, 'f': None, 'n': 'I am Emirati.'}"
...,...,...,...,...
188,Samoa,"{'m': 'Je suis Samoan.', 'f': 'Je suis Samoane...",Samoan,"{'m': None, 'f': None, 'n': 'I am Samoan.'}"
189,Yemen,"{'m': 'Je suis Yéménite.', 'f': 'Je suis Yémén...",Yemeni,"{'m': None, 'f': None, 'n': 'I am Yemeni.'}"
190,South Africa,"{'m': 'Je suis Sud-africain.', 'f': 'Je suis S...",South African,"{'m': None, 'f': None, 'n': 'I am South Africa..."
191,Zambia,"{'m': 'Je suis Zambien.', 'f': 'Je suis Zambie...",Zambian,"{'m': None, 'f': None, 'n': 'I am Zambian.'}"
192,Zimbabwe,"{'m': 'Je suis Zimbabwéen.', 'f': 'Je suis Zim...",Zimbabwean,"{'m': None, 'f': None, 'n': 'I am Zimbabwean.'}"

In [38]:
data.columns

Index(['name', 'sentence_x', 'demonym', 'sentence_y'], dtype='object')

In [32]:
data['sentence'] = data.apply(lambda row: {'eng': row['sentence'], 'fra': row['fra_sent']}, axis=1)
data = data.drop('fra_sent', axis=1)
data

,name,demonym,sentence
0,Afghanistan,Afghan,"{'eng': {'m': None, 'f': None, 'n': 'I am Afgh..."
1,Angola,Angolan,"{'eng': {'m': None, 'f': None, 'n': 'I am Ango..."
2,Albania,Albanian,"{'eng': {'m': None, 'f': None, 'n': 'I am Alba..."
3,Andorra,Andorran,"{'eng': {'m': None, 'f': None, 'n': 'I am Ando..."
4,United Arab Emirates,Emirati,"{'eng': {'m': None, 'f': None, 'n': 'I am Emir..."
...,...,...,...
188,Samoa,Samoan,"{'eng': {'m': None, 'f': None, 'n': 'I am Samo..."
189,Yemen,Yemeni,"{'eng': {'m': None, 'f': None, 'n': 'I am Yeme..."
190,South Africa,South African,"{'eng': {'m': None, 'f': None, 'n': 'I am Sout..."
191,Zambia,Zambian,"{'eng': {'m': None, 'f': None, 'n': 'I am Zamb..."
192,Zimbabwe,Zimbabwean,"{'eng': {'m': None, 'f': None, 'n': 'I am Zimb..."

In [33]:
data.to_csv('output/dataset.csv', index=False)

In [34]:
deu = pd.read_csv('../output_data/Germany.csv')
deu[deu.deu_f == '-']

,name,demonym,deu_m,deu_f
4,United Arab Emirates,Emirati,-,-
39,Cape Verde,Cape Verdian,-,-
83,Israel,Israeli,der/die Israeliweiblich auch: die Israelin,-
93,Saint Kitts and Nevis,Kittitian or Nevisian,-,-
165,Eswatini,Swazi,der/die Swasiauch: Swasiländer(in),-
175,Trinidad and Tobago,Trinidadian,–,-

In [ ]:
#