In [1]:
import pandas as pd

In [90]:
data = pd.read_csv('output/dataset.csv')
data

,name,demonym,sentence
0,Afghanistan,Afghan,"{'eng': {'m': None, 'f': None, 'n': 'I am Afgh..."
1,Angola,Angolan,"{'eng': {'m': None, 'f': None, 'n': 'I am Ango..."
2,Albania,Albanian,"{'eng': {'m': None, 'f': None, 'n': 'I am Alba..."
3,Andorra,Andorran,"{'eng': {'m': None, 'f': None, 'n': 'I am Ando..."
4,United Arab Emirates,Emirati,"{'eng': {'m': None, 'f': None, 'n': 'I am Emir..."
...,...,...,...
190,Samoa,Samoan,"{'eng': {'m': None, 'f': None, 'n': 'I am Samo..."
191,Yemen,Yemeni,"{'eng': {'m': None, 'f': None, 'n': 'I am Yeme..."
192,South Africa,South African,"{'eng': {'m': None, 'f': None, 'n': 'I am Sout..."
193,Zambia,Zambian,"{'eng': {'m': None, 'f': None, 'n': 'I am Zamb..."
194,Zimbabwe,Zimbabwean,"{'eng': {'m': None, 'f': None, 'n': 'I am Zimb..."

In [16]:
df = pd.read_csv('../output_data/v2_UN_countries.csv')
df.head()

                   name   demonym
0           Afghanistan    Afghan
1                Angola   Angolan
2               Albania  Albanian
3               Andorra  Andorran
4  United Arab Emirates   Emirati

# English (Source language)

In [17]:
df['demonym'] = df['demonym'].apply(lambda x: x.split(',')[0])
df['sentence'] = df['demonym'].apply(lambda x: {'m': None, 'f': None, 'n': "I am " + x + '.'})
df.head()

,name,demonym,sentence
0,Afghanistan,Afghan,"{'m': None, 'f': None, 'n': 'I am Afghan.'}"
1,Angola,Angolan,"{'m': None, 'f': None, 'n': 'I am Angolan.'}"
2,Albania,Albanian,"{'m': None, 'f': None, 'n': 'I am Albanian.'}"
3,Andorra,Andorran,"{'m': None, 'f': None, 'n': 'I am Andorran.'}"
4,United Arab Emirates,Emirati,"{'m': None, 'f': None, 'n': 'I am Emirati.'}"

In [18]:
df.to_csv('output/eng.csv', index=False)

# French

In [19]:
fra = pd.read_csv('../output_data/France.csv')
fra['fra_m'] = fra['fra_m'].apply(lambda x: x.split(' et ')[0])
fra['fra_f'] = fra['fra_f'].apply(lambda x: x.split(' et ')[0])
fra.head()

                   name   demonym     fra_m      fra_f
0           Afghanistan    Afghan    Afghan    Afghane
1                Angola   Angolan  Angolais  Angolaise
2               Albania  Albanian  Albanais  Albanaise
3               Andorra  Andorran  Andorran  Andorrane
4  United Arab Emirates   Emirati   Emirien  Emirienne

In [20]:
fra['fra_sent'] = fra.apply(lambda row: {'m': 'Je suis ' + row['fra_m'] + '.', 'f': 'Je suis ' + row['fra_f'] + '.', 'n': None}, axis=1)
fra

,name,demonym,fra_m,fra_f,fra_sent
0,Afghanistan,Afghan,Afghan,Afghane,"{'m': 'Je suis Afghan.', 'f': 'Je suis Afghane..."
1,Angola,Angolan,Angolais,Angolaise,"{'m': 'Je suis Angolais.', 'f': 'Je suis Angol..."
2,Albania,Albanian,Albanais,Albanaise,"{'m': 'Je suis Albanais.', 'f': 'Je suis Alban..."
3,Andorra,Andorran,Andorran,Andorrane,"{'m': 'Je suis Andorran.', 'f': 'Je suis Andor..."
4,United Arab Emirates,Emirati,Emirien,Emirienne,"{'m': 'Je suis Emirien.', 'f': 'Je suis Emirie..."
...,...,...,...,...,...
188,Samoa,Samoan,Samoan,Samoane,"{'m': 'Je suis Samoan.', 'f': 'Je suis Samoane..."
189,Yemen,Yemeni,YÃ©mÃ©nite,YÃ©mÃ©nite,"{'m': 'Je suis YÃ©mÃ©nite.', 'f': 'Je suis YÃ©mÃ©n..."
190,South Africa,South African,Sud-africain,Sud-africaine,"{'m': 'Je suis Sud-africain.', 'f': 'Je suis S..."
191,Zambia,Zambian,Zambien,Zambienne,"{'m': 'Je suis Zambien.', 'f': 'Je suis Zambie..."
192,Zimbabwe,Zimbabwean,ZimbabwÃ©en,ZimbabwÃ©enne,"{'m': 'Je suis ZimbabwÃ©en.', 'f': 'Je suis Zim..."

In [30]:
data = fra[['name', 'fra_sent']]
data

                     name                                           fra_sent
0             Afghanistan  {'m': 'Je suis Afghan.', 'f': 'Je suis Afghane...
1                  Angola  {'m': 'Je suis Angolais.', 'f': 'Je suis Angol...
2                 Albania  {'m': 'Je suis Albanais.', 'f': 'Je suis Alban...
3                 Andorra  {'m': 'Je suis Andorran.', 'f': 'Je suis Andor...
4    United Arab Emirates  {'m': 'Je suis Emirien.', 'f': 'Je suis Emirie...
..                    ...                                                ...
188                 Samoa  {'m': 'Je suis Samoan.', 'f': 'Je suis Samoane...
189                 Yemen  {'m': 'Je suis YÃ©mÃ©nite.', 'f': 'Je suis YÃ©mÃ©n...
190          South Africa  {'m': 'Je suis Sud-africain.', 'f': 'Je suis S...
191                Zambia  {'m': 'Je suis Zambien.', 'f': 'Je suis Zambie...
192              Zimbabwe  {'m': 'Je suis ZimbabwÃ©en.', 'f': 'Je suis Zim...

[193 rows x 2 columns]

In [31]:
data = data.merge(df, on='name', how='inner')
data

,name,fra_sent,demonym,sentence
0,Afghanistan,"{'m': 'Je suis Afghan.', 'f': 'Je suis Afghane...",Afghan,"{'m': None, 'f': None, 'n': 'I am Afghan.'}"
1,Angola,"{'m': 'Je suis Angolais.', 'f': 'Je suis Angol...",Angolan,"{'m': None, 'f': None, 'n': 'I am Angolan.'}"
2,Albania,"{'m': 'Je suis Albanais.', 'f': 'Je suis Alban...",Albanian,"{'m': None, 'f': None, 'n': 'I am Albanian.'}"
3,Andorra,"{'m': 'Je suis Andorran.', 'f': 'Je suis Andor...",Andorran,"{'m': None, 'f': None, 'n': 'I am Andorran.'}"
4,United Arab Emirates,"{'m': 'Je suis Emirien.', 'f': 'Je suis Emirie...",Emirati,"{'m': None, 'f': None, 'n': 'I am Emirati.'}"
...,...,...,...,...
188,Samoa,"{'m': 'Je suis Samoan.', 'f': 'Je suis Samoane...",Samoan,"{'m': None, 'f': None, 'n': 'I am Samoan.'}"
189,Yemen,"{'m': 'Je suis YÃ©mÃ©nite.', 'f': 'Je suis YÃ©mÃ©n...",Yemeni,"{'m': None, 'f': None, 'n': 'I am Yemeni.'}"
190,South Africa,"{'m': 'Je suis Sud-africain.', 'f': 'Je suis S...",South African,"{'m': None, 'f': None, 'n': 'I am South Africa..."
191,Zambia,"{'m': 'Je suis Zambien.', 'f': 'Je suis Zambie...",Zambian,"{'m': None, 'f': None, 'n': 'I am Zambian.'}"
192,Zimbabwe,"{'m': 'Je suis ZimbabwÃ©en.', 'f': 'Je suis Zim...",Zimbabwean,"{'m': None, 'f': None, 'n': 'I am Zimbabwean.'}"

In [38]:
data.columns

Index(['name', 'sentence_x', 'demonym', 'sentence_y'], dtype='object')

In [32]:
data['sentence'] = data.apply(lambda row: {'eng': row['sentence'], 'fra': row['fra_sent']}, axis=1)
data = data.drop('fra_sent', axis=1)
data

,name,demonym,sentence
0,Afghanistan,Afghan,"{'eng': {'m': None, 'f': None, 'n': 'I am Afgh..."
1,Angola,Angolan,"{'eng': {'m': None, 'f': None, 'n': 'I am Ango..."
2,Albania,Albanian,"{'eng': {'m': None, 'f': None, 'n': 'I am Alba..."
3,Andorra,Andorran,"{'eng': {'m': None, 'f': None, 'n': 'I am Ando..."
4,United Arab Emirates,Emirati,"{'eng': {'m': None, 'f': None, 'n': 'I am Emir..."
...,...,...,...
188,Samoa,Samoan,"{'eng': {'m': None, 'f': None, 'n': 'I am Samo..."
189,Yemen,Yemeni,"{'eng': {'m': None, 'f': None, 'n': 'I am Yeme..."
190,South Africa,South African,"{'eng': {'m': None, 'f': None, 'n': 'I am Sout..."
191,Zambia,Zambian,"{'eng': {'m': None, 'f': None, 'n': 'I am Zamb..."
192,Zimbabwe,Zimbabwean,"{'eng': {'m': None, 'f': None, 'n': 'I am Zimb..."

In [33]:
data.to_csv('output/dataset.csv', index=False)

# Spanish

In [30]:
spa = pd.read_csv('../output_data/Spain.csv')
spa

            name      spa_m      spa_f        spa_n
0    Afghanistan     afgano     afgana          NaN
1        Albania    albanÃ©s   albanÃ©sa          NaN
2        Algeria   argelino   argelina          NaN
3        Andorra  andorrano  andorrana          NaN
4         Angola   angoleÃ±o   angoleÃ±a          NaN
..           ...        ...        ...          ...
202      Vietnam        NaN        NaN   vietnamita
203        Wales      galÃ©s     galÃ©sa          NaN
204        Yemen        NaN        NaN       yemenÃ­
205       Zambia   zambiano   zambiana          NaN
206     Zimbabwe        NaN        NaN  zimbabuense

[207 rows x 4 columns]

In [31]:
spa = spa.fillna('')
spa

            name      spa_m      spa_f        spa_n
0    Afghanistan     afgano     afgana
1        Albania    albanÃ©s   albanÃ©sa
2        Algeria   argelino   argelina
3        Andorra  andorrano  andorrana
4         Angola   angoleÃ±o   angoleÃ±a
..           ...        ...        ...          ...
202      Vietnam                         vietnamita
203        Wales      galÃ©s     galÃ©sa
204        Yemen                             yemenÃ­
205       Zambia   zambiano   zambiana
206     Zimbabwe                        zimbabuense

[207 rows x 4 columns]

In [32]:
spa['spa_sent'] = spa.apply(lambda row: {'m': 'Soy ' + row['spa_m'] + '.' if row['spa_m'] != '' else None , 'f': 'Soy ' + row['spa_f'] + '.' if row['spa_f'] != '' else  None, 'n': 'Soy ' + row['spa_n'] + '.' if row['spa_n'] != '' else  None}, axis=1)
spa

,name,spa_m,spa_f,spa_n,spa_sent
0,Afghanistan,afgano,afgana,,"{'m': 'Soy afgano.', 'f': 'Soy afgana.', 'n': ..."
1,Albania,albanÃ©s,albanÃ©sa,,"{'m': 'Soy albanÃ©s.', 'f': 'Soy albanÃ©sa.', 'n..."
2,Algeria,argelino,argelina,,"{'m': 'Soy argelino.', 'f': 'Soy argelina.', '..."
3,Andorra,andorrano,andorrana,,"{'m': 'Soy andorrano.', 'f': 'Soy andorrana.',..."
4,Angola,angoleÃ±o,angoleÃ±a,,"{'m': 'Soy angoleÃ±o.', 'f': 'Soy angoleÃ±a.', '..."
...,...,...,...,...,...
202,Vietnam,,,vietnamita,"{'m': None, 'f': None, 'n': 'Soy vietnamita.'}"
203,Wales,galÃ©s,galÃ©sa,,"{'m': 'Soy galÃ©s.', 'f': 'Soy galÃ©sa.', 'n': N..."
204,Yemen,,,yemenÃ­,"{'m': None, 'f': None, 'n': 'Soy yemenÃ­.'}"
205,Zambia,zambiano,zambiana,,"{'m': 'Soy zambiano.', 'f': 'Soy zambiana.', '..."
206,Zimbabwe,,,zimbabuense,"{'m': None, 'f': None, 'n': 'Soy zimbabuense.'}"

In [33]:
spa.to_csv('temp.csv', index=False)

In [34]:
data

,name,demonym,sentence,spa_m_x,spa_f_x,spa_n_x,spa_sent_x,spa_m_y,spa_f_y,spa_n_y,spa_sent_y
0,Afghanistan,Afghan,"{'eng': {'m': None, 'f': None, 'n': 'I am Afgh...",afgano,afgana,,"{'m': 'Soy afgano.', 'f': 'Soy afgana.', 'n': ...",afgano,afgana,,"{'m': 'Soy afgano.', 'f': 'Soy afgana.', 'n': ..."
1,Angola,Angolan,"{'eng': {'m': None, 'f': None, 'n': 'I am Ango...",angoleÃ±o,angoleÃ±a,,"{'m': 'Soy angoleÃ±o.', 'f': 'Soy angoleÃ±a.', '...",angoleÃ±o,angoleÃ±a,,"{'m': 'Soy angoleÃ±o.', 'f': 'Soy angoleÃ±a.', '..."
2,Albania,Albanian,"{'eng': {'m': None, 'f': None, 'n': 'I am Alba...",albanÃ©s,albanÃ©sa,,"{'m': 'Soy albanÃ©s.', 'f': 'Soy albanÃ©sa.', 'n...",albanÃ©s,albanÃ©sa,,"{'m': 'Soy albanÃ©s.', 'f': 'Soy albanÃ©sa.', 'n..."
3,Andorra,Andorran,"{'eng': {'m': None, 'f': None, 'n': 'I am Ando...",andorrano,andorrana,,"{'m': 'Soy andorrano.', 'f': 'Soy andorrana.',...",andorrano,andorrana,,"{'m': 'Soy andorrano.', 'f': 'Soy andorrana.',..."
4,United Arab Emirates,Emirati,"{'eng': {'m': None, 'f': None, 'n': 'I am Emir...",NaN,NaN,NaN,"{'m': None, 'f': None, 'n': 'Soy emiratÃ­.'}",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
191,Samoa,Samoan,"{'eng': {'m': None, 'f': None, 'n': 'I am Samo...",samoano,samoana,,"{'m': 'Soy samoano.', 'f': 'Soy samoana.', 'n'...",samoano,samoana,,"{'m': 'Soy samoano.', 'f': 'Soy samoana.', 'n'..."
192,Yemen,Yemeni,"{'eng': {'m': None, 'f': None, 'n': 'I am Yeme...",,,yemenÃ­,"{'m': None, 'f': None, 'n': 'Soy yemenÃ­.'}",,,yemenÃ­,"{'m': None, 'f': None, 'n': 'Soy yemenÃ­.'}"
193,South Africa,South African,"{'eng': {'m': None, 'f': None, 'n': 'I am Sout...",sudafricano,sudafricana,,"{'m': 'Soy sudafricano.', 'f': 'Soy sudafrican...",sudafricano,sudafricana,,"{'m': 'Soy sudafricano.', 'f': 'Soy sudafrican..."
194,Zambia,Zambian,"{'eng': {'m': None, 'f': None, 'n': 'I am Zamb...",zambiano,zambiana,,"{'m': 'Soy zambiano.', 'f': 'Soy zambiana.', '...",zambiano,zambiana,,"{'m': 'Soy zambiano.', 'f': 'Soy zambiana.', '..."
195,Zimbabwe,Zimbabwean,"{'eng': {'m': None, 'f': None, 'n': 'I am Zimb...",,,zimbabuense,"{'m': None, 'f': None, 'n': 'Soy zimbabuense.'}",,,zimbabuense,"{'m': None, 'f': None, 'n': 'Soy zimbabuense.'}"

In [36]:
data = data.merge(spa, on='name', how='left')
data

,name,demonym,sentence,spa_m,spa_f,spa_n,spa_sent
0,Afghanistan,Afghan,"{'eng': {'m': None, 'f': None, 'n': 'I am Afgh...",afgano,afgana,,"{'m': 'Soy afgano.', 'f': 'Soy afgana.', 'n': ..."
1,Angola,Angolan,"{'eng': {'m': None, 'f': None, 'n': 'I am Ango...",angoleÃ±o,angoleÃ±a,,"{'m': 'Soy angoleÃ±o.', 'f': 'Soy angoleÃ±a.', '..."
2,Albania,Albanian,"{'eng': {'m': None, 'f': None, 'n': 'I am Alba...",albanÃ©s,albanÃ©sa,,"{'m': 'Soy albanÃ©s.', 'f': 'Soy albanÃ©sa.', 'n..."
3,Andorra,Andorran,"{'eng': {'m': None, 'f': None, 'n': 'I am Ando...",andorrano,andorrana,,"{'m': 'Soy andorrano.', 'f': 'Soy andorrana.',..."
4,United Arab Emirates,Emirati,"{'eng': {'m': None, 'f': None, 'n': 'I am Emir...",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
189,Samoa,Samoan,"{'eng': {'m': None, 'f': None, 'n': 'I am Samo...",samoano,samoana,,"{'m': 'Soy samoano.', 'f': 'Soy samoana.', 'n'..."
190,Yemen,Yemeni,"{'eng': {'m': None, 'f': None, 'n': 'I am Yeme...",,,yemenÃ­,"{'m': None, 'f': None, 'n': 'Soy yemenÃ­.'}"
191,South Africa,South African,"{'eng': {'m': None, 'f': None, 'n': 'I am Sout...",sudafricano,sudafricana,,"{'m': 'Soy sudafricano.', 'f': 'Soy sudafrican..."
192,Zambia,Zambian,"{'eng': {'m': None, 'f': None, 'n': 'I am Zamb...",zambiano,zambiana,,"{'m': 'Soy zambiano.', 'f': 'Soy zambiana.', '..."
193,Zimbabwe,Zimbabwean,"{'eng': {'m': None, 'f': None, 'n': 'I am Zimb...",,,zimbabuense,"{'m': None, 'f': None, 'n': 'Soy zimbabuense.'}"

In [37]:
none_list = data[data['spa_sent'].isnull()]['name'].tolist()
print(len(none_list), none_list)

24 ['United Arab Emirates', 'Bolivia', 'Ivory Coast', 'DR Congo', 'Republic of the Congo', 'Cape Verde', 'Czechia', 'Dominica', 'Micronesia', 'United Kingdom', 'Gambia', 'Grenada', 'Iran', 'Laos', 'Moldova', 'Myanmar', 'Mongolia', 'Namibia', 'Pakistan', 'Qatar', 'Russia', 'Timor-Leste', 'TÃ¼rkiye', 'United States']

In [38]:
# spa_sent = {key: '' for key in none_list}
spa_sent = {'United Arab Emirates': {'m': None, 'f': None, 'n': 'Soy emiratÃ­.'},
             'Bolivia': {'m': 'Soy boliviano.', 'f': 'Soy boliviana.', 'n': None},
             'Ivory Coast': {'m': 'Soy costamarfileÃ±o.', 'f': 'Soy costamarfileÃ±a.', 'n': None},
             'DR Congo': {'m': 'Soy congoleÃ±o.', 'f': 'Soy congoleÃ±a.', 'n': None},
             'Republic of the Congo': {'m': 'Soy congoleÃ±o.', 'f': 'Soy congoleÃ±a.', 'n': None},
             'Cape Verde': {'m': 'Soy caboverdiano.', 'f': 'Soy caboverdiana.', 'n': None},
             'Czechia': {'m': 'Soy checo.', 'f': 'Soy checa.', 'n': None},
             'Dominica': {'m': 'Soy dominiquÃ©s.', 'f': 'Soy dominiquÃ©sa.', 'n': None},
             'Micronesia': {'m': 'Soy micronesio.', 'f': 'Soy micronesia.', 'n': None},
             'United Kingdom': {'m': 'Soy britÃ¡nico.', 'f': 'Soy britÃ¡nia.', 'n': None},
             'Gambia': {'m': 'Soy gambiano.', 'f': 'Soy gambiana.', 'n': None},
             'Grenada': {'m': 'Soy granadino.', 'f': 'Soy granadina.', 'n': None},
             'Iran': {'m': None, 'f': None, 'n': 'Soy iranÃ­.'},
             'Laos': {'m': 'Soy laosiano.', 'f': 'Soy laosiana.', 'n': None},
             'Moldova': {'m': 'Soy moldavo.', 'f': 'Soy moldava.', 'n': None},
             'Myanmar': {'m': None, 'f': None, 'n': 'Soy de Myanmar.'},
             'Mongolia': {'m': 'Soy mongol.', 'f': None, 'n': None},
             'Namibia': {'m': 'Soy namibio.', 'f': 'Soy namibia.', 'n': None},
             'Pakistan': {'m': None, 'f': None, 'n': 'Soy pakistanÃ­.'},
             'Qatar': {'m': None, 'f': None, 'n': 'Soy qatarÃ­.'},
             'Russia': {'m': 'Soy ruso.', 'f': 'Soy rusa.', 'n': None},
             'Timor-Leste': {'m': None, 'f': None, 'n': 'Soy timorense.'},
             'TÃ¼rkiye': {'m': 'Soy turco.', 'f': 'Soy turca.', 'n': None},
             'United States': {'m': 'Soy americano', 'f': 'Soy americana.', 'n': 'Soy estadounidense.'}}

In [39]:
data['spa_sent'] = data['spa_sent'].fillna(data['name'].map(spa_sent))

In [40]:
data

,name,demonym,sentence,spa_m,spa_f,spa_n,spa_sent
0,Afghanistan,Afghan,"{'eng': {'m': None, 'f': None, 'n': 'I am Afgh...",afgano,afgana,,"{'m': 'Soy afgano.', 'f': 'Soy afgana.', 'n': ..."
1,Angola,Angolan,"{'eng': {'m': None, 'f': None, 'n': 'I am Ango...",angoleÃ±o,angoleÃ±a,,"{'m': 'Soy angoleÃ±o.', 'f': 'Soy angoleÃ±a.', '..."
2,Albania,Albanian,"{'eng': {'m': None, 'f': None, 'n': 'I am Alba...",albanÃ©s,albanÃ©sa,,"{'m': 'Soy albanÃ©s.', 'f': 'Soy albanÃ©sa.', 'n..."
3,Andorra,Andorran,"{'eng': {'m': None, 'f': None, 'n': 'I am Ando...",andorrano,andorrana,,"{'m': 'Soy andorrano.', 'f': 'Soy andorrana.',..."
4,United Arab Emirates,Emirati,"{'eng': {'m': None, 'f': None, 'n': 'I am Emir...",NaN,NaN,NaN,"{'m': None, 'f': None, 'n': 'Soy emiratÃ­.'}"
...,...,...,...,...,...,...,...
189,Samoa,Samoan,"{'eng': {'m': None, 'f': None, 'n': 'I am Samo...",samoano,samoana,,"{'m': 'Soy samoano.', 'f': 'Soy samoana.', 'n'..."
190,Yemen,Yemeni,"{'eng': {'m': None, 'f': None, 'n': 'I am Yeme...",,,yemenÃ­,"{'m': None, 'f': None, 'n': 'Soy yemenÃ­.'}"
191,South Africa,South African,"{'eng': {'m': None, 'f': None, 'n': 'I am Sout...",sudafricano,sudafricana,,"{'m': 'Soy sudafricano.', 'f': 'Soy sudafrican..."
192,Zambia,Zambian,"{'eng': {'m': None, 'f': None, 'n': 'I am Zamb...",zambiano,zambiana,,"{'m': 'Soy zambiano.', 'f': 'Soy zambiana.', '..."
193,Zimbabwe,Zimbabwean,"{'eng': {'m': None, 'f': None, 'n': 'I am Zimb...",,,zimbabuense,"{'m': None, 'f': None, 'n': 'Soy zimbabuense.'}"

In [41]:
import ast
data['sentence'] = data['sentence'].apply(lambda x: ast.literal_eval(x))
data

,name,demonym,sentence,spa_m,spa_f,spa_n,spa_sent
0,Afghanistan,Afghan,"{'eng': {'m': None, 'f': None, 'n': 'I am Afgh...",afgano,afgana,,"{'m': 'Soy afgano.', 'f': 'Soy afgana.', 'n': ..."
1,Angola,Angolan,"{'eng': {'m': None, 'f': None, 'n': 'I am Ango...",angoleÃ±o,angoleÃ±a,,"{'m': 'Soy angoleÃ±o.', 'f': 'Soy angoleÃ±a.', '..."
2,Albania,Albanian,"{'eng': {'m': None, 'f': None, 'n': 'I am Alba...",albanÃ©s,albanÃ©sa,,"{'m': 'Soy albanÃ©s.', 'f': 'Soy albanÃ©sa.', 'n..."
3,Andorra,Andorran,"{'eng': {'m': None, 'f': None, 'n': 'I am Ando...",andorrano,andorrana,,"{'m': 'Soy andorrano.', 'f': 'Soy andorrana.',..."
4,United Arab Emirates,Emirati,"{'eng': {'m': None, 'f': None, 'n': 'I am Emir...",NaN,NaN,NaN,"{'m': None, 'f': None, 'n': 'Soy emiratÃ­.'}"
...,...,...,...,...,...,...,...
189,Samoa,Samoan,"{'eng': {'m': None, 'f': None, 'n': 'I am Samo...",samoano,samoana,,"{'m': 'Soy samoano.', 'f': 'Soy samoana.', 'n'..."
190,Yemen,Yemeni,"{'eng': {'m': None, 'f': None, 'n': 'I am Yeme...",,,yemenÃ­,"{'m': None, 'f': None, 'n': 'Soy yemenÃ­.'}"
191,South Africa,South African,"{'eng': {'m': None, 'f': None, 'n': 'I am Sout...",sudafricano,sudafricana,,"{'m': 'Soy sudafricano.', 'f': 'Soy sudafrican..."
192,Zambia,Zambian,"{'eng': {'m': None, 'f': None, 'n': 'I am Zamb...",zambiano,zambiana,,"{'m': 'Soy zambiano.', 'f': 'Soy zambiana.', '..."
193,Zimbabwe,Zimbabwean,"{'eng': {'m': None, 'f': None, 'n': 'I am Zimb...",,,zimbabuense,"{'m': None, 'f': None, 'n': 'Soy zimbabuense.'}"

In [42]:
data['sentence'] = data.apply(lambda row: {**row['sentence'], 'spa': row['spa_sent']}, axis=1)
data

,name,demonym,sentence,spa_m,spa_f,spa_n,spa_sent
0,Afghanistan,Afghan,"{'eng': {'m': None, 'f': None, 'n': 'I am Afgh...",afgano,afgana,,"{'m': 'Soy afgano.', 'f': 'Soy afgana.', 'n': ..."
1,Angola,Angolan,"{'eng': {'m': None, 'f': None, 'n': 'I am Ango...",angoleÃ±o,angoleÃ±a,,"{'m': 'Soy angoleÃ±o.', 'f': 'Soy angoleÃ±a.', '..."
2,Albania,Albanian,"{'eng': {'m': None, 'f': None, 'n': 'I am Alba...",albanÃ©s,albanÃ©sa,,"{'m': 'Soy albanÃ©s.', 'f': 'Soy albanÃ©sa.', 'n..."
3,Andorra,Andorran,"{'eng': {'m': None, 'f': None, 'n': 'I am Ando...",andorrano,andorrana,,"{'m': 'Soy andorrano.', 'f': 'Soy andorrana.',..."
4,United Arab Emirates,Emirati,"{'eng': {'m': None, 'f': None, 'n': 'I am Emir...",NaN,NaN,NaN,"{'m': None, 'f': None, 'n': 'Soy emiratÃ­.'}"
...,...,...,...,...,...,...,...
189,Samoa,Samoan,"{'eng': {'m': None, 'f': None, 'n': 'I am Samo...",samoano,samoana,,"{'m': 'Soy samoano.', 'f': 'Soy samoana.', 'n'..."
190,Yemen,Yemeni,"{'eng': {'m': None, 'f': None, 'n': 'I am Yeme...",,,yemenÃ­,"{'m': None, 'f': None, 'n': 'Soy yemenÃ­.'}"
191,South Africa,South African,"{'eng': {'m': None, 'f': None, 'n': 'I am Sout...",sudafricano,sudafricana,,"{'m': 'Soy sudafricano.', 'f': 'Soy sudafrican..."
192,Zambia,Zambian,"{'eng': {'m': None, 'f': None, 'n': 'I am Zamb...",zambiano,zambiana,,"{'m': 'Soy zambiano.', 'f': 'Soy zambiana.', '..."
193,Zimbabwe,Zimbabwean,"{'eng': {'m': None, 'f': None, 'n': 'I am Zimb...",,,zimbabuense,"{'m': None, 'f': None, 'n': 'Soy zimbabuense.'}"

In [43]:
data.iloc[0]['sentence']

{'eng': {'m': None, 'f': None, 'n': 'I am Afghan.'},
 'fra': {'m': 'Je suis Afghan.', 'f': 'Je suis Afghane.', 'n': None},
 'spa': {'m': 'Soy afgano.', 'f': 'Soy afgana.', 'n': None}}

In [45]:
data = data[['name', 'demonym', 'sentence']]

In [46]:
data.to_csv('output/dataset.csv', index=False)

# German

In [88]:
import pandas as pd
deu = pd.read_csv('../output_data/Germany.csv')
deu = deu.fillna('')
deu

                     name        demonym         deu_m            deu_f deu_n
0             Afghanistan         Afghan       Afghane         Afghanin
1                  Angola        Angolan     Angolaner      Angolanerin
2                 Albania       Albanian       Albaner        Albanerin
3                 Andorra       Andorran    Andorraner     Andorranerin
4    United Arab Emirates        Emirati
..                    ...            ...           ...              ...   ...
189                 Samoa         Samoan      Samoaner       Samoanerin
190                 Yemen         Yemeni       Jemenit        Jemenitin
191          South Africa  South African  SÃ¼dafrikaner   SÃ¼dafrikanerin
192                Zambia        Zambian       Sambier        Sambierin
193              Zimbabwe     Zimbabwean     Simbabwer      Simbabwerin

[194 rows x 5 columns]

In [55]:
deu['deu_sent'] = deu.apply(lambda row: {'m': 'Ich bin ' + row['deu_m'] + '.' if row['deu_m'] != '' else None, 
                                         'f': 'Ich bin ' + row['deu_f'] + '.' if row['deu_f'] != '' else None, 
                                         'n': 'Ich bin ' + row['deu_n'] + '.' if row['deu_n'] != '' else None}, axis=1)

In [59]:
deu = deu[['name', 'deu_sent']]
deu

                     name                                           deu_sent
0             Afghanistan  {'m': 'Ich bin Afghane.', 'f': 'Ich bin  Afgha...
1                  Angola  {'m': 'Ich bin Angolaner.', 'f': 'Ich bin  Ang...
2                 Albania  {'m': 'Ich bin Albaner.', 'f': 'Ich bin  Alban...
3                 Andorra  {'m': 'Ich bin Andorraner.', 'f': 'Ich bin  An...
4    United Arab Emirates                  {'m': None, 'f': None, 'n': None}
..                    ...                                                ...
189                 Samoa  {'m': 'Ich bin Samoaner.', 'f': 'Ich bin  Samo...
190                 Yemen  {'m': 'Ich bin Jemenit.', 'f': 'Ich bin  Jemen...
191          South Africa  {'m': 'Ich bin SÃ¼dafrikaner.', 'f': 'Ich bin  ...
192                Zambia  {'m': 'Ich bin Sambier.', 'f': 'Ich bin  Sambi...
193              Zimbabwe  {'m': 'Ich bin Simbabwer.', 'f': 'Ich bin  Sim...

[194 rows x 2 columns]

In [61]:
data = data.merge(deu, on='name', how='left')
data

,name,demonym,sentence,deu_sent
0,Afghanistan,Afghan,"{'eng': {'m': None, 'f': None, 'n': 'I am Afgh...","{'m': 'Ich bin Afghane.', 'f': 'Ich bin Afgha..."
1,Angola,Angolan,"{'eng': {'m': None, 'f': None, 'n': 'I am Ango...","{'m': 'Ich bin Angolaner.', 'f': 'Ich bin Ang..."
2,Albania,Albanian,"{'eng': {'m': None, 'f': None, 'n': 'I am Alba...","{'m': 'Ich bin Albaner.', 'f': 'Ich bin Alban..."
3,Andorra,Andorran,"{'eng': {'m': None, 'f': None, 'n': 'I am Ando...","{'m': 'Ich bin Andorraner.', 'f': 'Ich bin An..."
4,United Arab Emirates,Emirati,"{'eng': {'m': None, 'f': None, 'n': 'I am Emir...","{'m': None, 'f': None, 'n': None}"
...,...,...,...,...
190,Samoa,Samoan,"{'eng': {'m': None, 'f': None, 'n': 'I am Samo...","{'m': 'Ich bin Samoaner.', 'f': 'Ich bin Samo..."
191,Yemen,Yemeni,"{'eng': {'m': None, 'f': None, 'n': 'I am Yeme...","{'m': 'Ich bin Jemenit.', 'f': 'Ich bin Jemen..."
192,South Africa,South African,"{'eng': {'m': None, 'f': None, 'n': 'I am Sout...","{'m': 'Ich bin SÃ¼dafrikaner.', 'f': 'Ich bin ..."
193,Zambia,Zambian,"{'eng': {'m': None, 'f': None, 'n': 'I am Zamb...","{'m': 'Ich bin Sambier.', 'f': 'Ich bin Sambi..."
194,Zimbabwe,Zimbabwean,"{'eng': {'m': None, 'f': None, 'n': 'I am Zimb...","{'m': 'Ich bin Simbabwer.', 'f': 'Ich bin Sim..."

In [68]:
none_list = data[data['deu_sent'].isnull()]['name'].tolist()
print(len(none_list), none_list)

0 []

In [66]:
# spa_sent = {key: '' for key in none_list}
deu_sent = {'Guinea-Bissau': {'m': 'Ich bin Guinea-Bissauer.', 'f': 'Ich bin Guinea-Bissauerin.', 'n': ''}, 'Timor-Leste': {'m': 'Ich bin Timorer.', 'f': 'Ich bin Timorerin.', 'n': ''}}

In [67]:
data['deu_sent'] = data['deu_sent'].fillna(data['name'].map(deu_sent))

In [69]:
import ast
data['sentence'] = data['sentence'].apply(lambda x: ast.literal_eval(x))
data

,name,demonym,sentence,deu_sent
0,Afghanistan,Afghan,"{'eng': {'m': None, 'f': None, 'n': 'I am Afgh...","{'m': 'Ich bin Afghane.', 'f': 'Ich bin Afgha..."
1,Angola,Angolan,"{'eng': {'m': None, 'f': None, 'n': 'I am Ango...","{'m': 'Ich bin Angolaner.', 'f': 'Ich bin Ang..."
2,Albania,Albanian,"{'eng': {'m': None, 'f': None, 'n': 'I am Alba...","{'m': 'Ich bin Albaner.', 'f': 'Ich bin Alban..."
3,Andorra,Andorran,"{'eng': {'m': None, 'f': None, 'n': 'I am Ando...","{'m': 'Ich bin Andorraner.', 'f': 'Ich bin An..."
4,United Arab Emirates,Emirati,"{'eng': {'m': None, 'f': None, 'n': 'I am Emir...","{'m': None, 'f': None, 'n': None}"
...,...,...,...,...
190,Samoa,Samoan,"{'eng': {'m': None, 'f': None, 'n': 'I am Samo...","{'m': 'Ich bin Samoaner.', 'f': 'Ich bin Samo..."
191,Yemen,Yemeni,"{'eng': {'m': None, 'f': None, 'n': 'I am Yeme...","{'m': 'Ich bin Jemenit.', 'f': 'Ich bin Jemen..."
192,South Africa,South African,"{'eng': {'m': None, 'f': None, 'n': 'I am Sout...","{'m': 'Ich bin SÃ¼dafrikaner.', 'f': 'Ich bin ..."
193,Zambia,Zambian,"{'eng': {'m': None, 'f': None, 'n': 'I am Zamb...","{'m': 'Ich bin Sambier.', 'f': 'Ich bin Sambi..."
194,Zimbabwe,Zimbabwean,"{'eng': {'m': None, 'f': None, 'n': 'I am Zimb...","{'m': 'Ich bin Simbabwer.', 'f': 'Ich bin Sim..."

In [70]:
data['sentence'] = data.apply(lambda row: {**row['sentence'], 'deu': row['deu_sent']}, axis=1)
data

,name,demonym,sentence,deu_sent
0,Afghanistan,Afghan,"{'eng': {'m': None, 'f': None, 'n': 'I am Afgh...","{'m': 'Ich bin Afghane.', 'f': 'Ich bin Afgha..."
1,Angola,Angolan,"{'eng': {'m': None, 'f': None, 'n': 'I am Ango...","{'m': 'Ich bin Angolaner.', 'f': 'Ich bin Ang..."
2,Albania,Albanian,"{'eng': {'m': None, 'f': None, 'n': 'I am Alba...","{'m': 'Ich bin Albaner.', 'f': 'Ich bin Alban..."
3,Andorra,Andorran,"{'eng': {'m': None, 'f': None, 'n': 'I am Ando...","{'m': 'Ich bin Andorraner.', 'f': 'Ich bin An..."
4,United Arab Emirates,Emirati,"{'eng': {'m': None, 'f': None, 'n': 'I am Emir...","{'m': None, 'f': None, 'n': None}"
...,...,...,...,...
190,Samoa,Samoan,"{'eng': {'m': None, 'f': None, 'n': 'I am Samo...","{'m': 'Ich bin Samoaner.', 'f': 'Ich bin Samo..."
191,Yemen,Yemeni,"{'eng': {'m': None, 'f': None, 'n': 'I am Yeme...","{'m': 'Ich bin Jemenit.', 'f': 'Ich bin Jemen..."
192,South Africa,South African,"{'eng': {'m': None, 'f': None, 'n': 'I am Sout...","{'m': 'Ich bin SÃ¼dafrikaner.', 'f': 'Ich bin ..."
193,Zambia,Zambian,"{'eng': {'m': None, 'f': None, 'n': 'I am Zamb...","{'m': 'Ich bin Sambier.', 'f': 'Ich bin Sambi..."
194,Zimbabwe,Zimbabwean,"{'eng': {'m': None, 'f': None, 'n': 'I am Zimb...","{'m': 'Ich bin Simbabwer.', 'f': 'Ich bin Sim..."

In [73]:
data = data[['name', 'demonym', 'sentence']]
data.to_csv('output/dataset.csv', index=False)

In [75]:
data.iloc[0]['sentence']

"{'eng': {'m': None, 'f': None, 'n': 'I am Afghan.'}, 'fra': {'m': 'Je suis Afghan.', 'f': 'Je suis Afghane.', 'n': None}, 'spa': {'m': 'Soy afgano.', 'f': 'Soy afgana.', 'n': None}, 'deu': {'m': 'Ich bin Afghane.', 'f': 'Ich bin  Afghanin.', 'n': None}}"

# Italian

In [89]:
it = pd.read_csv('../output_data/Italy.csv')
it = it[['name', 'it_sent']]

In [91]:
data = data.merge(it, on='name', how='left')
data

,name,demonym,sentence,it_sent
0,Afghanistan,Afghan,"{'eng': {'m': None, 'f': None, 'n': 'I am Afgh...","{'m': 'Sono afghano.', 'f': 'Sono afghana.', '..."
1,Angola,Angolan,"{'eng': {'m': None, 'f': None, 'n': 'I am Ango...","{'m': 'Sono angolano.', 'f': 'Sono angolana.',..."
2,Albania,Albanian,"{'eng': {'m': None, 'f': None, 'n': 'I am Alba...","{'m': None, 'f': None, 'n': 'Sono albanese.'}"
3,Andorra,Andorran,"{'eng': {'m': None, 'f': None, 'n': 'I am Ando...","{'m': 'Sono andorrano.', 'f': 'Sono andorrana...."
4,United Arab Emirates,Emirati,"{'eng': {'m': None, 'f': None, 'n': 'I am Emir...","{'m': 'Sono emiratino.', 'f': 'Sono emiratina...."
...,...,...,...,...
191,Samoa,Samoan,"{'eng': {'m': None, 'f': None, 'n': 'I am Samo...","{'m': 'Sono samoano.', 'f': 'Sono samoana.', '..."
192,Yemen,Yemeni,"{'eng': {'m': None, 'f': None, 'n': 'I am Yeme...","{'m': None, 'f': None, 'n': 'Sono yemenita.'}"
193,South Africa,South African,"{'eng': {'m': None, 'f': None, 'n': 'I am Sout...","{'m': 'Sono sudafricano.', 'f': 'Sono sudafric..."
194,Zambia,Zambian,"{'eng': {'m': None, 'f': None, 'n': 'I am Zamb...","{'m': 'Sono zambiano.', 'f': 'Sono zambiana.',..."
195,Zimbabwe,Zimbabwean,"{'eng': {'m': None, 'f': None, 'n': 'I am Zimb...","{'m': 'Sono zimbabwiano.', 'f': 'Sono zimbabwi..."

In [95]:
none_list = data[data['it_sent'].isnull()]['name'].tolist()
print(len(none_list), none_list)

0 []

In [93]:
# it_list = {key: '' for key in none_list}
it_list = {'Antigua and Barbuda': {'m': 'Sono antiguano.', 'f': 'Sono antiguana.', 'n': None},
 'Burundi': {'m': None, 'f': None, 'n': 'Sono burundese.'},
 'Burkina Faso': {'m': None, 'f': None, 'n': None},
 'Bulgaria': {'m': 'Sono bulgaro.', 'f': 'Sono bulgara.', 'n': None},
 'Bosnia and Herzegovina': {'m': 'Sono bosniaco.', 'f': 'Sono bosniaca.', 'n': None},
 'Bolivia': {'m': 'Sono boliviano.', 'f': 'Sono boliviana.', 'n': None},
 'Brazil': {'m': 'Sono brasiliano.', 'f': 'Sono brasiliana.', 'n': None},
 'Brunei': {'m': None, 'f': None, 'n': None},
 'Botswana': {'m': 'Sono botswano.', 'f': 'Sono botswana.', 'n': None},
 'Ivory Coast': {'m': 'Sono ivoriano.', 'f': 'Sono ivoriana.', 'n': None},
 'DR Congo': {'m': None, 'f': None, 'n': 'Sono congolese.'},
 'Republic of the Congo': {'m': None, 'f': None, 'n': 'Sono congolese.'},
 'Czechia': {'m': 'Sono ceco.', 'f': 'Sono ceca.', 'n': None},
 'Dominican Republic': {'m': 'Sono dominicano.', 'f': 'Sono dominicana.', 'n': None},
 'Israel': {'m': 'Sono israeliano.', 'f': 'Sono israeliana.', 'n': None},
 'Italy': {'m': 'Sono italiano.', 'f': 'Sono italiana.', 'n': None},
 'Jamaica': {'m': 'Sono giamaicano.', 'f': 'Sono giamaicana.', 'n': None},
 'Jordan': {'m': 'Sono giordano.', 'f': 'Sono giordana.', 'n': None},
 'Kazakhstan': {'m': 'Sono kazaco.', 'f': 'Sono kazaca.', 'n': None},
 'Kenya': {'m': None, 'f': None, 'n': 'Sono keniota.'},
 'Kiribati': {'m': 'Sono kiribatiano.', 'f': 'Sono kiribatiana.', 'n': None},
 'Kuwait': {'m': None, 'f': None, 'n': None},
 'North Macedonia': {'m': None, 'f': None, 'n': 'Sono macedone.'},
 'Myanmar': {'m': 'Sono birmano.', 'f': 'Sono birmese.', 'n': None},
 'SÃ£o TomÃ© and PrÃ­ncipe': {'m': None, 'f': None, 'n': 'Sono saotomense.'},
 'Eswatini': {'m': None, 'f': None, 'n': 'Sono swazilandese.'},
 'Syria': {'m': 'Sono siriano.', 'f': 'Sono siriana.', 'n': None},
 'Timor-Leste': {'m': None, 'f': None, 'n': 'Sono timorese.'},
 'TÃ¼rkiye': {'m': 'Sono turco.', 'f': 'Sono turca.', 'n': None}}

In [94]:
data['it_sent'] = data['it_sent'].fillna(data['name'].map(it_list))

In [96]:
import ast
data['sentence'] = data['sentence'].apply(lambda x: ast.literal_eval(x))
data

,name,demonym,sentence,it_sent
0,Afghanistan,Afghan,"{'eng': {'m': None, 'f': None, 'n': 'I am Afgh...","{'m': 'Sono afghano.', 'f': 'Sono afghana.', '..."
1,Angola,Angolan,"{'eng': {'m': None, 'f': None, 'n': 'I am Ango...","{'m': 'Sono angolano.', 'f': 'Sono angolana.',..."
2,Albania,Albanian,"{'eng': {'m': None, 'f': None, 'n': 'I am Alba...","{'m': None, 'f': None, 'n': 'Sono albanese.'}"
3,Andorra,Andorran,"{'eng': {'m': None, 'f': None, 'n': 'I am Ando...","{'m': 'Sono andorrano.', 'f': 'Sono andorrana...."
4,United Arab Emirates,Emirati,"{'eng': {'m': None, 'f': None, 'n': 'I am Emir...","{'m': 'Sono emiratino.', 'f': 'Sono emiratina...."
...,...,...,...,...
191,Samoa,Samoan,"{'eng': {'m': None, 'f': None, 'n': 'I am Samo...","{'m': 'Sono samoano.', 'f': 'Sono samoana.', '..."
192,Yemen,Yemeni,"{'eng': {'m': None, 'f': None, 'n': 'I am Yeme...","{'m': None, 'f': None, 'n': 'Sono yemenita.'}"
193,South Africa,South African,"{'eng': {'m': None, 'f': None, 'n': 'I am Sout...","{'m': 'Sono sudafricano.', 'f': 'Sono sudafric..."
194,Zambia,Zambian,"{'eng': {'m': None, 'f': None, 'n': 'I am Zamb...","{'m': 'Sono zambiano.', 'f': 'Sono zambiana.',..."
195,Zimbabwe,Zimbabwean,"{'eng': {'m': None, 'f': None, 'n': 'I am Zimb...","{'m': 'Sono zimbabwiano.', 'f': 'Sono zimbabwi..."

In [97]:
data['sentence'] = data.apply(lambda row: {**row['sentence'], 'it': row['it_sent']}, axis=1)
data

,name,demonym,sentence,it_sent
0,Afghanistan,Afghan,"{'eng': {'m': None, 'f': None, 'n': 'I am Afgh...","{'m': 'Sono afghano.', 'f': 'Sono afghana.', '..."
1,Angola,Angolan,"{'eng': {'m': None, 'f': None, 'n': 'I am Ango...","{'m': 'Sono angolano.', 'f': 'Sono angolana.',..."
2,Albania,Albanian,"{'eng': {'m': None, 'f': None, 'n': 'I am Alba...","{'m': None, 'f': None, 'n': 'Sono albanese.'}"
3,Andorra,Andorran,"{'eng': {'m': None, 'f': None, 'n': 'I am Ando...","{'m': 'Sono andorrano.', 'f': 'Sono andorrana...."
4,United Arab Emirates,Emirati,"{'eng': {'m': None, 'f': None, 'n': 'I am Emir...","{'m': 'Sono emiratino.', 'f': 'Sono emiratina...."
...,...,...,...,...
191,Samoa,Samoan,"{'eng': {'m': None, 'f': None, 'n': 'I am Samo...","{'m': 'Sono samoano.', 'f': 'Sono samoana.', '..."
192,Yemen,Yemeni,"{'eng': {'m': None, 'f': None, 'n': 'I am Yeme...","{'m': None, 'f': None, 'n': 'Sono yemenita.'}"
193,South Africa,South African,"{'eng': {'m': None, 'f': None, 'n': 'I am Sout...","{'m': 'Sono sudafricano.', 'f': 'Sono sudafric..."
194,Zambia,Zambian,"{'eng': {'m': None, 'f': None, 'n': 'I am Zamb...","{'m': 'Sono zambiano.', 'f': 'Sono zambiana.',..."
195,Zimbabwe,Zimbabwean,"{'eng': {'m': None, 'f': None, 'n': 'I am Zimb...","{'m': 'Sono zimbabwiano.', 'f': 'Sono zimbabwi..."

In [113]:
data.to_csv('output/dataset.csv', index=False)

In [126]:
df = pd.read_csv('output/dataset.csv')
# df = df.drop_duplicates()
df

,name,demonym,sentence,it_sent
0,Afghanistan,Afghan,"{'eng': {'m': None, 'f': None, 'n': 'I am Afgh...","{'m': 'Sono afghano.', 'f': 'Sono afghana.', '..."
1,Angola,Angolan,"{'eng': {'m': None, 'f': None, 'n': 'I am Ango...","{'m': 'Sono angolano.', 'f': 'Sono angolana.',..."
2,Albania,Albanian,"{'eng': {'m': None, 'f': None, 'n': 'I am Alba...","{'m': None, 'f': None, 'n': 'Sono albanese.'}"
3,Andorra,Andorran,"{'eng': {'m': None, 'f': None, 'n': 'I am Ando...","{'m': 'Sono andorrano.', 'f': 'Sono andorrana...."
4,United Arab Emirates,Emirati,"{'eng': {'m': None, 'f': None, 'n': 'I am Emir...","{'m': 'Sono emiratino.', 'f': 'Sono emiratina...."
...,...,...,...,...
188,Samoa,Samoan,"{'eng': {'m': None, 'f': None, 'n': 'I am Samo...","{'m': 'Sono samoano.', 'f': 'Sono samoana.', '..."
189,Yemen,Yemeni,"{'eng': {'m': None, 'f': None, 'n': 'I am Yeme...","{'m': None, 'f': None, 'n': 'Sono yemenita.'}"
190,South Africa,South African,"{'eng': {'m': None, 'f': None, 'n': 'I am Sout...","{'m': 'Sono sudafricano.', 'f': 'Sono sudafric..."
191,Zambia,Zambian,"{'eng': {'m': None, 'f': None, 'n': 'I am Zamb...","{'m': 'Sono zambiano.', 'f': 'Sono zambiana.',..."
192,Zimbabwe,Zimbabwean,"{'eng': {'m': None, 'f': None, 'n': 'I am Zimb...","{'m': 'Sono zimbabwiano.', 'f': 'Sono zimbabwi..."

In [127]:
df = df[['name', 'demonym', 'sentence']]
df.to_csv('output/dataset.csv', index=False)