In [44]:
import pandas as pd

In [45]:
#https://github.com/mledoze/countries/tree/master
df = pd.read_json('source_data/countries.json')
df

,name,tld,cca2,ccn3,cca3,cioc,independent,status,unMember,currencies,...,region,subregion,languages,translations,latlng,landlocked,borders,area,flag,demonyms
0,"{'common': 'Aruba', 'official': 'Aruba', 'nati...",[.aw],AW,533,ABW,ARU,0.0,officially-assigned,False,"{'AWG': {'name': 'Aruban florin', 'symbol': 'Æ’'}}",...,Americas,Caribbean,"{'nld': 'Dutch', 'pap': 'Papiamento'}","{'ara': {'official': 'Ø£Ø±ÙˆØ¨Ø§', 'common': 'Ø£Ø±ÙˆØ¨Ø§...","[12.5, -69.96666666]",False,[],180.0,ğŸ‡¦ğŸ‡¼,"{'eng': {'f': 'Aruban', 'm': 'Aruban'}, 'fra':..."
1,"{'common': 'Afghanistan', 'official': 'Islamic...",[.af],AF,004,AFG,AFG,1.0,officially-assigned,True,"{'AFN': {'name': 'Afghan afghani', 'symbol': '...",...,Asia,Southern Asia,"{'prs': 'Dari', 'pus': 'Pashto', 'tuk': 'Turkm...",{'ara': {'official': 'Ø¬Ù…Ù‡ÙˆØ±ÙŠØ© Ø£ÙÙØ§Ù†Ø³ØªØ§Ù† Ø§Ù„Ø¥Ø³Ù„Ø§...,"[33, 65]",True,"[IRN, PAK, TKM, UZB, TJK, CHN]",652230.0,ğŸ‡¦ğŸ‡«,"{'eng': {'f': 'Afghan', 'm': 'Afghan'}, 'fra':..."
2,"{'common': 'Angola', 'official': 'Republic of ...",[.ao],AO,024,AGO,ANG,1.0,officially-assigned,True,"{'AOA': {'name': 'Angolan kwanza', 'symbol': '...",...,Africa,Middle Africa,{'por': 'Portuguese'},"{'ara': {'official': 'Ø£Ù†ØºÙˆÙ„Ø§', 'common': 'Ø¬Ù…Ù‡Ùˆ...","[-12.5, 18.5]",False,"[COG, COD, ZMB, NAM]",1246700.0,ğŸ‡¦ğŸ‡´,"{'eng': {'f': 'Angolan', 'm': 'Angolan'}, 'fra..."
3,"{'common': 'Anguilla', 'official': 'Anguilla',...",[.ai],AI,660,AIA,,0.0,officially-assigned,False,"{'XCD': {'name': 'Eastern Caribbean dollar', '...",...,Americas,Caribbean,{'eng': 'English'},"{'ara': {'official': 'Ø£Ù†ØºÙˆÙŠÙ„Ø§', 'common': 'Ø£Ù†Øº...","[18.25, -63.16666666]",False,[],91.0,ğŸ‡¦ğŸ‡®,"{'eng': {'f': 'Anguillian', 'm': 'Anguillian'}..."
4,"{'common': 'Ã…land Islands', 'official': 'Ã…land...",[.ax],AX,248,ALA,,0.0,officially-assigned,False,"{'EUR': {'name': 'Euro', 'symbol': 'â‚¬'}}",...,Europe,Northern Europe,{'swe': 'Swedish'},"{'ara': {'official': 'Ø¬Ø²Ø± Ø£ÙˆÙ„Ø§Ù†Ø¯', 'common': '...","[60.116667, 19.9]",False,[],1580.0,ğŸ‡¦ğŸ‡½,"{'eng': {'f': 'Ã…landish', 'm': 'Ã…landish'}, 'f..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,"{'common': 'Samoa', 'official': 'Independent S...",[.ws],WS,882,WSM,SAM,1.0,officially-assigned,True,"{'WST': {'name': 'Samoan tÄlÄ', 'symbol': 'T'}}",...,Oceania,Polynesia,"{'eng': 'English', 'smo': 'Samoan'}","{'ara': {'official': 'Ø¯ÙˆÙ„Ø© Ø³Ø§Ù…ÙˆØ§ Ø§Ù„Ù…Ø³ØªÙ‚Ù„Ø©', 'c...","[-13.58333333, -172.33333333]",False,[],2842.0,ğŸ‡¼ğŸ‡¸,"{'eng': {'f': 'Samoan', 'm': 'Samoan'}, 'fra':..."
246,"{'common': 'Yemen', 'official': 'Republic of Y...",[.ye],YE,887,YEM,YEM,1.0,officially-assigned,True,"{'YER': {'name': 'Yemeni rial', 'symbol': 'ï·¼'}}",...,Asia,Western Asia,{'ara': 'Arabic'},"{'ara': {'official': 'Ø§Ù„Ø¬Ù…Ù‡ÙˆØ±ÙŠØ© Ø§Ù„ÙŠÙ…Ù†ÙŠØ©', 'com...","[15, 48]",False,"[OMN, SAU]",527968.0,ğŸ‡¾ğŸ‡ª,"{'eng': {'f': 'Yemeni', 'm': 'Yemeni'}, 'fra':..."
247,"{'common': 'South Africa', 'official': 'Republ...",[.za],ZA,710,ZAF,RSA,1.0,officially-assigned,True,"{'ZAR': {'name': 'South African rand', 'symbol...",...,Africa,Southern Africa,"{'afr': 'Afrikaans', 'eng': 'English', 'nbl': ...","{'ara': {'official': 'Ø¬Ù…Ù‡ÙˆØ±ÙŠØ© Ø¬Ù†ÙˆØ¨ Ø£ÙØ±ÙŠÙ‚ÙŠØ§', '...","[-29, 24]",False,"[BWA, LSO, MOZ, NAM, SWZ, ZWE]",1221037.0,ğŸ‡¿ğŸ‡¦,"{'eng': {'f': 'South African', 'm': 'South Afr..."
248,"{'common': 'Zambia', 'official': 'Republic of ...",[.zm],ZM,894,ZMB,ZAM,1.0,officially-assigned,True,"{'ZMW': {'name': 'Zambian kwacha', 'symbol': '...",...,Africa,Eastern Africa,{'eng': 'English'},"{'ara': {'official': 'Ø¬Ù…Ù‡ÙˆØ±ÙŠØ© Ø²Ø§Ù…Ø¨ÙŠØ§', 'common...","[-15, 30]",True,"[AGO, BWA, COD, MWI, MOZ, NAM, TZA, ZWE]",752612.0,ğŸ‡¿ğŸ‡²,"{'eng': {'f': 'Zambian', 'm': 'Zambian'}, 'fra..."
249,"{'common': 'Zimbabwe', 'official': 'Republic o...",[.zw],ZW,716,ZWE,ZIM,1.0,officially-assigned,True,"{'BWP': {'name': 'Botswana pula', 'symbol': 'P...",...,Africa,Eastern Africa,"{'bwg': 'Chibarwe', 'eng': 'English', 'kck': '...","{'ara': {'official': 'Ø¬Ù…Ù‡ÙˆØ±ÙŠØ© Ø²ÙŠÙ…Ø¨Ø§Ø¨ÙˆÙŠ', 'comm...","[-20, 30]",True,"[BWA, MOZ, ZAF, ZMB]",390757.0,ğŸ‡¿ğŸ‡¼,"{'eng': {'f': 'Zimbabwean', 'm': 'Zimbabwean'}..."

In [46]:
df = df[df['unMember'] == True]
df

,name,tld,cca2,ccn3,cca3,cioc,independent,status,unMember,currencies,...,region,subregion,languages,translations,latlng,landlocked,borders,area,flag,demonyms
1,"{'common': 'Afghanistan', 'official': 'Islamic...",[.af],AF,004,AFG,AFG,1.0,officially-assigned,True,"{'AFN': {'name': 'Afghan afghani', 'symbol': '...",...,Asia,Southern Asia,"{'prs': 'Dari', 'pus': 'Pashto', 'tuk': 'Turkm...",{'ara': {'official': 'Ø¬Ù…Ù‡ÙˆØ±ÙŠØ© Ø£ÙÙØ§Ù†Ø³ØªØ§Ù† Ø§Ù„Ø¥Ø³Ù„Ø§...,"[33, 65]",True,"[IRN, PAK, TKM, UZB, TJK, CHN]",652230.0,ğŸ‡¦ğŸ‡«,"{'eng': {'f': 'Afghan', 'm': 'Afghan'}, 'fra':..."
2,"{'common': 'Angola', 'official': 'Republic of ...",[.ao],AO,024,AGO,ANG,1.0,officially-assigned,True,"{'AOA': {'name': 'Angolan kwanza', 'symbol': '...",...,Africa,Middle Africa,{'por': 'Portuguese'},"{'ara': {'official': 'Ø£Ù†ØºÙˆÙ„Ø§', 'common': 'Ø¬Ù…Ù‡Ùˆ...","[-12.5, 18.5]",False,"[COG, COD, ZMB, NAM]",1246700.0,ğŸ‡¦ğŸ‡´,"{'eng': {'f': 'Angolan', 'm': 'Angolan'}, 'fra..."
5,"{'common': 'Albania', 'official': 'Republic of...",[.al],AL,008,ALB,ALB,1.0,officially-assigned,True,"{'ALL': {'name': 'Albanian lek', 'symbol': 'L'}}",...,Europe,Southeast Europe,{'sqi': 'Albanian'},"{'ara': {'official': 'Ø¬Ù…Ù‡ÙˆØ±ÙŠØ© Ø£Ù„Ø¨Ø§Ù†ÙŠØ§', 'commo...","[41, 20]",False,"[MNE, GRC, MKD, UNK]",28748.0,ğŸ‡¦ğŸ‡±,"{'eng': {'f': 'Albanian', 'm': 'Albanian'}, 'f..."
6,"{'common': 'Andorra', 'official': 'Principalit...",[.ad],AD,020,AND,AND,1.0,officially-assigned,True,"{'EUR': {'name': 'Euro', 'symbol': 'â‚¬'}}",...,Europe,Southern Europe,{'cat': 'Catalan'},"{'ara': {'official': 'Ø¥Ù…Ø§Ø±Ø© Ø£Ù†Ø¯ÙˆØ±Ø§', 'common':...","[42.5, 1.5]",True,"[FRA, ESP]",468.0,ğŸ‡¦ğŸ‡©,"{'eng': {'f': 'Andorran', 'm': 'Andorran'}, 'f..."
7,"{'common': 'United Arab Emirates', 'official':...","[.ae, Ø§Ù…Ø§Ø±Ø§Øª.]",AE,784,ARE,UAE,1.0,officially-assigned,True,{'AED': {'name': 'United Arab Emirates dirham'...,...,Asia,Western Asia,{'ara': 'Arabic'},{'ara': {'official': 'Ø§Ù„Ø¥Ù…Ø§Ø±Ø§Øª Ø§Ù„Ø¹Ø±Ø¨ÙŠØ© Ø§Ù„Ù…ØªØ­Ø¯Ø©...,"[24, 54]",False,"[OMN, SAU]",83600.0,ğŸ‡¦ğŸ‡ª,"{'eng': {'f': 'Emirati', 'm': 'Emirati'}, 'fra..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,"{'common': 'Samoa', 'official': 'Independent S...",[.ws],WS,882,WSM,SAM,1.0,officially-assigned,True,"{'WST': {'name': 'Samoan tÄlÄ', 'symbol': 'T'}}",...,Oceania,Polynesia,"{'eng': 'English', 'smo': 'Samoan'}","{'ara': {'official': 'Ø¯ÙˆÙ„Ø© Ø³Ø§Ù…ÙˆØ§ Ø§Ù„Ù…Ø³ØªÙ‚Ù„Ø©', 'c...","[-13.58333333, -172.33333333]",False,[],2842.0,ğŸ‡¼ğŸ‡¸,"{'eng': {'f': 'Samoan', 'm': 'Samoan'}, 'fra':..."
246,"{'common': 'Yemen', 'official': 'Republic of Y...",[.ye],YE,887,YEM,YEM,1.0,officially-assigned,True,"{'YER': {'name': 'Yemeni rial', 'symbol': 'ï·¼'}}",...,Asia,Western Asia,{'ara': 'Arabic'},"{'ara': {'official': 'Ø§Ù„Ø¬Ù…Ù‡ÙˆØ±ÙŠØ© Ø§Ù„ÙŠÙ…Ù†ÙŠØ©', 'com...","[15, 48]",False,"[OMN, SAU]",527968.0,ğŸ‡¾ğŸ‡ª,"{'eng': {'f': 'Yemeni', 'm': 'Yemeni'}, 'fra':..."
247,"{'common': 'South Africa', 'official': 'Republ...",[.za],ZA,710,ZAF,RSA,1.0,officially-assigned,True,"{'ZAR': {'name': 'South African rand', 'symbol...",...,Africa,Southern Africa,"{'afr': 'Afrikaans', 'eng': 'English', 'nbl': ...","{'ara': {'official': 'Ø¬Ù…Ù‡ÙˆØ±ÙŠØ© Ø¬Ù†ÙˆØ¨ Ø£ÙØ±ÙŠÙ‚ÙŠØ§', '...","[-29, 24]",False,"[BWA, LSO, MOZ, NAM, SWZ, ZWE]",1221037.0,ğŸ‡¿ğŸ‡¦,"{'eng': {'f': 'South African', 'm': 'South Afr..."
248,"{'common': 'Zambia', 'official': 'Republic of ...",[.zm],ZM,894,ZMB,ZAM,1.0,officially-assigned,True,"{'ZMW': {'name': 'Zambian kwacha', 'symbol': '...",...,Africa,Eastern Africa,{'eng': 'English'},"{'ara': {'official': 'Ø¬Ù…Ù‡ÙˆØ±ÙŠØ© Ø²Ø§Ù…Ø¨ÙŠØ§', 'common...","[-15, 30]",True,"[AGO, BWA, COD, MWI, MOZ, NAM, TZA, ZWE]",752612.0,ğŸ‡¿ğŸ‡²,"{'eng': {'f': 'Zambian', 'm': 'Zambian'}, 'fra..."
249,"{'common': 'Zimbabwe', 'official': 'Republic o...",[.zw],ZW,716,ZWE,ZIM,1.0,officially-assigned,True,"{'BWP': {'name': 'Botswana pula', 'symbol': 'P...",...,Africa,Eastern Africa,"{'bwg': 'Chibarwe', 'eng': 'English', 'kck': '...","{'ara': {'official': 'Ø¬Ù…Ù‡ÙˆØ±ÙŠØ© Ø²ÙŠÙ…Ø¨Ø§Ø¨ÙˆÙŠ', 'comm...","[-20, 30]",True,"[BWA, MOZ, ZAF, ZMB]",390757.0,ğŸ‡¿ğŸ‡¼,"{'eng': {'f': 'Zimbabwean', 'm': 'Zimbabwean'}..."

In [47]:
df = df.loc[:, ['name', 'demonyms']]
df

,name,demonyms
1,"{'common': 'Afghanistan', 'official': 'Islamic...","{'eng': {'f': 'Afghan', 'm': 'Afghan'}, 'fra':..."
2,"{'common': 'Angola', 'official': 'Republic of ...","{'eng': {'f': 'Angolan', 'm': 'Angolan'}, 'fra..."
5,"{'common': 'Albania', 'official': 'Republic of...","{'eng': {'f': 'Albanian', 'm': 'Albanian'}, 'f..."
6,"{'common': 'Andorra', 'official': 'Principalit...","{'eng': {'f': 'Andorran', 'm': 'Andorran'}, 'f..."
7,"{'common': 'United Arab Emirates', 'official':...","{'eng': {'f': 'Emirati', 'm': 'Emirati'}, 'fra..."
...,...,...
245,"{'common': 'Samoa', 'official': 'Independent S...","{'eng': {'f': 'Samoan', 'm': 'Samoan'}, 'fra':..."
246,"{'common': 'Yemen', 'official': 'Republic of Y...","{'eng': {'f': 'Yemeni', 'm': 'Yemeni'}, 'fra':..."
247,"{'common': 'South Africa', 'official': 'Republ...","{'eng': {'f': 'South African', 'm': 'South Afr..."
248,"{'common': 'Zambia', 'official': 'Republic of ...","{'eng': {'f': 'Zambian', 'm': 'Zambian'}, 'fra..."
249,"{'common': 'Zimbabwe', 'official': 'Republic o...","{'eng': {'f': 'Zimbabwean', 'm': 'Zimbabwean'}..."

In [48]:
df.iloc[0, 0]

{'common': 'Afghanistan',
 'official': 'Islamic Republic of Afghanistan',
 'native': {'prs': {'official': 'Ø¬Ù…Ù‡ÙˆØ±ÛŒ Ø§Ø³Ù„Ø§Ù…ÛŒ Ø§ÙØºØ§Ù†Ø³ØªØ§Ù†',
   'common': 'Ø§ÙØºØ§Ù†Ø³ØªØ§Ù†'},
  'pus': {'official': 'Ø¯ Ø§ÙØºØ§Ù†Ø³ØªØ§Ù† Ø§Ø³Ù„Ø§Ù…ÙŠ Ø¬Ù…Ù‡ÙˆØ±ÛŒØª', 'common': 'Ø§ÙØºØ§Ù†Ø³ØªØ§Ù†'},
  'tuk': {'official': 'Owganystan Yslam Respublikasy',
   'common': 'Owganystan'}}}

In [49]:
df.iloc[4, 1]

{'eng': {'f': 'Emirati', 'm': 'Emirati'},
 'fra': {'f': 'Emirienne', 'm': 'Emirien'}}

In [50]:
unique_keys = set(key for d in df['demonyms'] for key in d.keys())
print(unique_keys)

filtered_rows = df[df['demonyms'].apply(lambda x: x['eng']['f'] != x['eng']['m'])]

filtered_rows

{'eng', 'fra'}

Empty DataFrame
Columns: [name, demonyms]
Index: []

In [51]:
df['name'] = df['name'].apply(lambda x: x['common'])
df

                     name                                           demonyms
1             Afghanistan  {'eng': {'f': 'Afghan', 'm': 'Afghan'}, 'fra':...
2                  Angola  {'eng': {'f': 'Angolan', 'm': 'Angolan'}, 'fra...
5                 Albania  {'eng': {'f': 'Albanian', 'm': 'Albanian'}, 'f...
6                 Andorra  {'eng': {'f': 'Andorran', 'm': 'Andorran'}, 'f...
7    United Arab Emirates  {'eng': {'f': 'Emirati', 'm': 'Emirati'}, 'fra...
..                    ...                                                ...
245                 Samoa  {'eng': {'f': 'Samoan', 'm': 'Samoan'}, 'fra':...
246                 Yemen  {'eng': {'f': 'Yemeni', 'm': 'Yemeni'}, 'fra':...
247          South Africa  {'eng': {'f': 'South African', 'm': 'South Afr...
248                Zambia  {'eng': {'f': 'Zambian', 'm': 'Zambian'}, 'fra...
249              Zimbabwe  {'eng': {'f': 'Zimbabwean', 'm': 'Zimbabwean'}...

[194 rows x 2 columns]

In [52]:
df['demonym'] = df['demonyms'].apply(lambda x: x['eng']['f']) #since for eng m and f are similar
df

,name,demonyms,demonym
1,Afghanistan,"{'eng': {'f': 'Afghan', 'm': 'Afghan'}, 'fra':...",Afghan
2,Angola,"{'eng': {'f': 'Angolan', 'm': 'Angolan'}, 'fra...",Angolan
5,Albania,"{'eng': {'f': 'Albanian', 'm': 'Albanian'}, 'f...",Albanian
6,Andorra,"{'eng': {'f': 'Andorran', 'm': 'Andorran'}, 'f...",Andorran
7,United Arab Emirates,"{'eng': {'f': 'Emirati', 'm': 'Emirati'}, 'fra...",Emirati
...,...,...,...
245,Samoa,"{'eng': {'f': 'Samoan', 'm': 'Samoan'}, 'fra':...",Samoan
246,Yemen,"{'eng': {'f': 'Yemeni', 'm': 'Yemeni'}, 'fra':...",Yemeni
247,South Africa,"{'eng': {'f': 'South African', 'm': 'South Afr...",South African
248,Zambia,"{'eng': {'f': 'Zambian', 'm': 'Zambian'}, 'fra...",Zambian
249,Zimbabwe,"{'eng': {'f': 'Zimbabwean', 'm': 'Zimbabwean'}...",Zimbabwean

In [53]:
df.reset_index(inplace=False)
df

,name,demonyms,demonym
1,Afghanistan,"{'eng': {'f': 'Afghan', 'm': 'Afghan'}, 'fra':...",Afghan
2,Angola,"{'eng': {'f': 'Angolan', 'm': 'Angolan'}, 'fra...",Angolan
5,Albania,"{'eng': {'f': 'Albanian', 'm': 'Albanian'}, 'f...",Albanian
6,Andorra,"{'eng': {'f': 'Andorran', 'm': 'Andorran'}, 'f...",Andorran
7,United Arab Emirates,"{'eng': {'f': 'Emirati', 'm': 'Emirati'}, 'fra...",Emirati
...,...,...,...
245,Samoa,"{'eng': {'f': 'Samoan', 'm': 'Samoan'}, 'fra':...",Samoan
246,Yemen,"{'eng': {'f': 'Yemeni', 'm': 'Yemeni'}, 'fra':...",Yemeni
247,South Africa,"{'eng': {'f': 'South African', 'm': 'South Afr...",South African
248,Zambia,"{'eng': {'f': 'Zambian', 'm': 'Zambian'}, 'fra...",Zambian
249,Zimbabwe,"{'eng': {'f': 'Zimbabwean', 'm': 'Zimbabwean'}...",Zimbabwean

In [58]:
df2 = df.loc[:, ['name', 'demonym']]
df2 = df2[df2.name != 'Vatican City']
df2.to_csv('output_data/v2_UN_countries.csv', index=False)

In [59]:
df3 = df.copy()

,name,demonyms,demonym
1,Afghanistan,"{'eng': {'f': 'Afghan', 'm': 'Afghan'}, 'fra':...",Afghan
2,Angola,"{'eng': {'f': 'Angolan', 'm': 'Angolan'}, 'fra...",Angolan
5,Albania,"{'eng': {'f': 'Albanian', 'm': 'Albanian'}, 'f...",Albanian
6,Andorra,"{'eng': {'f': 'Andorran', 'm': 'Andorran'}, 'f...",Andorran
7,United Arab Emirates,"{'eng': {'f': 'Emirati', 'm': 'Emirati'}, 'fra...",Emirati
...,...,...,...
245,Samoa,"{'eng': {'f': 'Samoan', 'm': 'Samoan'}, 'fra':...",Samoan
246,Yemen,"{'eng': {'f': 'Yemeni', 'm': 'Yemeni'}, 'fra':...",Yemeni
247,South Africa,"{'eng': {'f': 'South African', 'm': 'South Afr...",South African
248,Zambia,"{'eng': {'f': 'Zambian', 'm': 'Zambian'}, 'fra...",Zambian
249,Zimbabwe,"{'eng': {'f': 'Zimbabwean', 'm': 'Zimbabwean'}...",Zimbabwean

In [60]:
df3['fra_m'] = df['demonyms'].apply(lambda x: x['fra']['m'])
df3

,name,demonyms,demonym,fra_m
1,Afghanistan,"{'eng': {'f': 'Afghan', 'm': 'Afghan'}, 'fra':...",Afghan,Afghan
2,Angola,"{'eng': {'f': 'Angolan', 'm': 'Angolan'}, 'fra...",Angolan,Angolais
5,Albania,"{'eng': {'f': 'Albanian', 'm': 'Albanian'}, 'f...",Albanian,Albanais
6,Andorra,"{'eng': {'f': 'Andorran', 'm': 'Andorran'}, 'f...",Andorran,Andorran
7,United Arab Emirates,"{'eng': {'f': 'Emirati', 'm': 'Emirati'}, 'fra...",Emirati,Emirien
...,...,...,...,...
245,Samoa,"{'eng': {'f': 'Samoan', 'm': 'Samoan'}, 'fra':...",Samoan,Samoan
246,Yemen,"{'eng': {'f': 'Yemeni', 'm': 'Yemeni'}, 'fra':...",Yemeni,YÃ©mÃ©nite
247,South Africa,"{'eng': {'f': 'South African', 'm': 'South Afr...",South African,Sud-africain
248,Zambia,"{'eng': {'f': 'Zambian', 'm': 'Zambian'}, 'fra...",Zambian,Zambien
249,Zimbabwe,"{'eng': {'f': 'Zimbabwean', 'm': 'Zimbabwean'}...",Zimbabwean,ZimbabwÃ©en

In [61]:
df3['fra_f'] = df['demonyms'].apply(lambda x: x['fra']['f'])
df3

,name,demonyms,demonym,fra_m,fra_f
1,Afghanistan,"{'eng': {'f': 'Afghan', 'm': 'Afghan'}, 'fra':...",Afghan,Afghan,Afghane
2,Angola,"{'eng': {'f': 'Angolan', 'm': 'Angolan'}, 'fra...",Angolan,Angolais,Angolaise
5,Albania,"{'eng': {'f': 'Albanian', 'm': 'Albanian'}, 'f...",Albanian,Albanais,Albanaise
6,Andorra,"{'eng': {'f': 'Andorran', 'm': 'Andorran'}, 'f...",Andorran,Andorran,Andorrane
7,United Arab Emirates,"{'eng': {'f': 'Emirati', 'm': 'Emirati'}, 'fra...",Emirati,Emirien,Emirienne
...,...,...,...,...,...
245,Samoa,"{'eng': {'f': 'Samoan', 'm': 'Samoan'}, 'fra':...",Samoan,Samoan,Samoane
246,Yemen,"{'eng': {'f': 'Yemeni', 'm': 'Yemeni'}, 'fra':...",Yemeni,YÃ©mÃ©nite,YÃ©mÃ©nite
247,South Africa,"{'eng': {'f': 'South African', 'm': 'South Afr...",South African,Sud-africain,Sud-africaine
248,Zambia,"{'eng': {'f': 'Zambian', 'm': 'Zambian'}, 'fra...",Zambian,Zambien,Zambienne
249,Zimbabwe,"{'eng': {'f': 'Zimbabwean', 'm': 'Zimbabwean'}...",Zimbabwean,ZimbabwÃ©en,ZimbabwÃ©enne

In [64]:
# df3 = df3.drop('demonyms', axis=1)
df3.reset_index(inplace=False)
df3

                     name        demonym         fra_m          fra_f
1             Afghanistan         Afghan        Afghan        Afghane
2                  Angola        Angolan      Angolais      Angolaise
5                 Albania       Albanian      Albanais      Albanaise
6                 Andorra       Andorran      Andorran      Andorrane
7    United Arab Emirates        Emirati       Emirien      Emirienne
..                    ...            ...           ...            ...
245                 Samoa         Samoan        Samoan        Samoane
246                 Yemen         Yemeni      YÃ©mÃ©nite       YÃ©mÃ©nite
247          South Africa  South African  Sud-africain  Sud-africaine
248                Zambia        Zambian       Zambien      Zambienne
249              Zimbabwe     Zimbabwean    ZimbabwÃ©en   ZimbabwÃ©enne

[194 rows x 4 columns]

In [66]:
df3.to_csv('output_data/France.csv', index=False)

In [1]:
!pip install html-table-parser-python3

Collecting html-table-parser-python3
  Obtaining dependency information for html-table-parser-python3 from https://files.pythonhosted.org/packages/92/b6/3d57fae8305d0f8ec2f8b378262eb31162acebd66d41dce295601a8c4076/html_table_parser_python3-0.3.1-py3-none-any.whl.metadata
  Downloading html_table_parser_python3-0.3.1-py3-none-any.whl.metadata (2.3 kB)
Downloading html_table_parser_python3-0.3.1-py3-none-any.whl (15 kB)
Installing collected packages: html-table-parser-python3
Successfully installed html-table-parser-python3-0.3.1

In [5]:
import pandas as pd

# Path to your text file containing the HTML table
html_file = 'untitled.txt'

try:
    # Read the HTML content from the file
    with open(html_file, 'r', encoding='utf-8') as file:
        html_content = file.read()
    
    # Use pandas to read HTML tables
    tables = pd.read_html(html_content)
    
    # Check how many tables were found
    print(f"Number of tables found: {len(tables)}")
    
    # Assuming the desired table is the first one
    df = tables[0]
except FileNotFoundError:
    print(f"The file '{html_file}' does not exist.")
except ValueError as ve:
    print(f"Error parsing tables: {ve}")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

Number of tables found: 1

In [6]:
df.head()

,Country in English,Country in German,"Demonym* (masculine, feminine)",Adjective
0,Afghanistan,Afghanistan,"der Afghane, die Afghanin",afghanisch
1,Albania,Albanien,"der Albaner/Albanier, die Albanerin/Albanierin",albanisch
2,Algeria,Algerien,"der Algerier, die Algerierin",algerisch
3,Andorra,Andorra,"der Andorraner, die Andorranerin",andorranisch
4,Angola,Angola,"der Angolaner, die Angolanerin",angolanisch